In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("V:/Capstone/Data/MergedFromRDS.csv")

C:\Users\niraj\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (5,6,10,11,19,46,51,52,53) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.head()

,Unnamed: 0,Date,Activity,Event Name,F&B,Retail.x,CR,Revenue,Attd.,F&B PC,...,...32,...33,Team,Location,Stand Type,Service Style,Branded/Non-Branded,Retail.y,Section,Concept
0,1,2021-09-09,CONCT,Blake Shelton,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,...,NaN,NaN,Nashville Predators,Concessions,Bar,Standard,Branded,No,NaN,NaN
1,2,2021-09-09,CONCT,Blake Shelton,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,...,NaN,NaN,Nashville Predators,Concessions,Bar,Standard,Branded,No,NaN,NaN
2,3,2021-09-09,CONCT,Blake Shelton,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,...,NaN,NaN,Nashville Predators,Concessions,Bar,Standard,Branded,No,NaN,NaN
3,4,2021-09-09,CONCT,Blake Shelton,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,...,NaN,NaN,Nashville Predators,Concessions,Bar,Standard,Branded,No,NaN,NaN
4,5,2021-09-09,CONCT,Blake Shelton,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,...,NaN,NaN,Nashville Predators,Concessions,Bar,Standard,Branded,No,NaN,NaN

In [4]:
df = df.drop(columns = 'Unnamed: 0')

In [5]:
df1 = df.drop(['...26', '...27', '...28',
       '...29', '...30', '...31', '...32', '...33'], 1)

In [6]:
df1.head()

,Date,Activity,Event Name,F&B,Retail.x,CR,Revenue,Attd.,F&B PC,Ret PC,...,Product - Cat 3,Product - Cat 4,Team,Location,Stand Type,Service Style,Branded/Non-Branded,Retail.y,Section,Concept
0,2021-09-09,CONCT,Blake Shelton,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,...,16 Ounces,No Cat,Nashville Predators,Concessions,Bar,Standard,Branded,No,NaN,NaN
1,2021-09-09,CONCT,Blake Shelton,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,...,16 Ounces,No Cat,Nashville Predators,Concessions,Bar,Standard,Branded,No,NaN,NaN
2,2021-09-09,CONCT,Blake Shelton,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,...,20 Ounces,No Cat,Nashville Predators,Concessions,Bar,Standard,Branded,No,NaN,NaN
3,2021-09-09,CONCT,Blake Shelton,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,...,24 Ounces,No Cat,Nashville Predators,Concessions,Bar,Standard,Branded,No,NaN,NaN
4,2021-09-09,CONCT,Blake Shelton,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,...,24 Ounces,No Cat,Nashville Predators,Concessions,Bar,Standard,Branded,No,NaN,NaN

In [7]:
df1.columns

Index(['Date', 'Activity', 'Event Name', 'F&B', 'Retail.x', 'CR', 'Revenue',
       'Attd.', 'F&B PC', 'Ret PC', 'CR PC', 'Total PC', 'TH_Loc',
       'location_id', 'cost_center_name', 'source_system', 'item_name',
       'item_id', 'is_tax_exempt', 'qty', 'amount', 'Transaction Check',
       'Price', 'Item Cost', 'Season', 'Event - Type Category',
       'Event - Category', 'Game Tier', 'Location - Category',
       'Location - Sub-Category', 'Location - Concept', 'Location - Brand',
       'Product - Cat 0', 'Product - Cat 1', 'Product - Cat 2',
       'Product - Cat 3', 'Product - Cat 4', 'Team', 'Location', 'Stand Type',
       'Service Style', 'Branded/Non-Branded', 'Retail.y', 'Section',
       'Concept'],
      dtype='object')

In [8]:
df1['Retail.y'].isna().sum()

243367

In [9]:
df1['Retail.y'].unique()

array(['No', nan, 'yes', 'Yes', 'no', 'NO'], dtype=object)

In [10]:
df1['Branded/Non-Branded'].value_counts()

Non-Branded        539386
Branded            160670
Branded Partner     42009
In House Brand      12952
market               1330
Name: Branded/Non-Branded, dtype: int64

In [11]:
df1.Activity.unique()

array(['CONCT', 'ICESH', 'NHLPR', 'WREST', 'NHLRG', 'RELGN', 'MUSAW',
       'COMIC', 'EVENT', 'ICECO', 'MOTOR', 'CBKPT', 'FMILY', 'NFLPR',
       'NFLRG', 'NFLPO', 'CFBOT', 'MLBRG', nan, 'TENNS', 'NBAPR', 'NBARG',
       'TOURN', 'HKYOT', 'CHKOT', 'NBAPT'], dtype=object)

In [12]:
df2 = df1.drop(['Event Name','location_id','cost_center_name','Transaction Check','Season','Event - Type Category','Event - Category','Game Tier','Location - Category','Location - Sub-Category','Location - Concept','Location - Brand','Team','Section'], 1)

In [13]:
df2.head()

,Date,Activity,F&B,Retail.x,CR,Revenue,Attd.,F&B PC,Ret PC,CR PC,...,Product - Cat 1,Product - Cat 2,Product - Cat 3,Product - Cat 4,Location,Stand Type,Service Style,Branded/Non-Branded,Retail.y,Concept
0,2021-09-09,CONCT,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,...,Bottled,Energy Drink,16 Ounces,No Cat,Concessions,Bar,Standard,Branded,No,NaN
1,2021-09-09,CONCT,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,...,Packaged,Premium,16 Ounces,No Cat,Concessions,Bar,Standard,Branded,No,NaN
2,2021-09-09,CONCT,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,...,Bottled,Water,20 Ounces,No Cat,Concessions,Bar,Standard,Branded,No,NaN
3,2021-09-09,CONCT,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,...,Packaged,Domestic,24 Ounces,No Cat,Concessions,Bar,Standard,Branded,No,NaN
4,2021-09-09,CONCT,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,...,Packaged,Domestic,24 Ounces,No Cat,Concessions,Bar,Standard,Branded,No,NaN

In [14]:
df2['Retail.y'] = df2['Retail.y'].str.upper()

In [15]:
df2.head()

,Date,Activity,F&B,Retail.x,CR,Revenue,Attd.,F&B PC,Ret PC,CR PC,...,Product - Cat 1,Product - Cat 2,Product - Cat 3,Product - Cat 4,Location,Stand Type,Service Style,Branded/Non-Branded,Retail.y,Concept
0,2021-09-09,CONCT,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,...,Bottled,Energy Drink,16 Ounces,No Cat,Concessions,Bar,Standard,Branded,NO,NaN
1,2021-09-09,CONCT,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,...,Packaged,Premium,16 Ounces,No Cat,Concessions,Bar,Standard,Branded,NO,NaN
2,2021-09-09,CONCT,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,...,Bottled,Water,20 Ounces,No Cat,Concessions,Bar,Standard,Branded,NO,NaN
3,2021-09-09,CONCT,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,...,Packaged,Domestic,24 Ounces,No Cat,Concessions,Bar,Standard,Branded,NO,NaN
4,2021-09-09,CONCT,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,...,Packaged,Domestic,24 Ounces,No Cat,Concessions,Bar,Standard,Branded,NO,NaN

In [16]:
dfBs = df2.loc[df['TH_Loc'] == 'Bridgestone'] # change location

In [17]:
dfBs.head()

,Date,Activity,F&B,Retail.x,CR,Revenue,Attd.,F&B PC,Ret PC,CR PC,...,Product - Cat 1,Product - Cat 2,Product - Cat 3,Product - Cat 4,Location,Stand Type,Service Style,Branded/Non-Branded,Retail.y,Concept
0,2021-09-09,CONCT,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,...,Bottled,Energy Drink,16 Ounces,No Cat,Concessions,Bar,Standard,Branded,NO,NaN
1,2021-09-09,CONCT,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,...,Packaged,Premium,16 Ounces,No Cat,Concessions,Bar,Standard,Branded,NO,NaN
2,2021-09-09,CONCT,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,...,Bottled,Water,20 Ounces,No Cat,Concessions,Bar,Standard,Branded,NO,NaN
3,2021-09-09,CONCT,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,...,Packaged,Domestic,24 Ounces,No Cat,Concessions,Bar,Standard,Branded,NO,NaN
4,2021-09-09,CONCT,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,...,Packaged,Domestic,24 Ounces,No Cat,Concessions,Bar,Standard,Branded,NO,NaN

In [18]:
dfBs.isna().sum().sum()

673141

In [19]:
dfBs.columns

Index(['Date', 'Activity', 'F&B', 'Retail.x', 'CR', 'Revenue', 'Attd.',
       'F&B PC', 'Ret PC', 'CR PC', 'Total PC', 'TH_Loc', 'source_system',
       'item_name', 'item_id', 'is_tax_exempt', 'qty', 'amount', 'Price',
       'Item Cost', 'Product - Cat 0', 'Product - Cat 1', 'Product - Cat 2',
       'Product - Cat 3', 'Product - Cat 4', 'Location', 'Stand Type',
       'Service Style', 'Branded/Non-Branded', 'Retail.y', 'Concept'],
      dtype='object')

In [20]:
dfBs1 = dfBs.copy()

In [21]:
dfBs1['Branded/Non-Branded'] = dfBs1['Branded/Non-Branded'].fillna('Other')

In [22]:
dfBs1['Stand Type'] = dfBs1['Stand Type'].fillna('Other')

In [23]:
dfBs1.Activity.unique()

array(['CONCT', 'ICESH', 'NHLPR', 'WREST', 'NHLRG', 'RELGN', 'MUSAW',
       'COMIC', 'EVENT', 'ICECO', 'MOTOR', 'CBKPT', 'FMILY'], dtype=object)

In [24]:
# change the activity and product

In [25]:
dfBsAlWr1 = dfBs1.loc[(dfBs1['Activity'] == 'WREST') & (dfBs1['Product - Cat 0'] == "Alcohol")] 
dfBsAlCo1 = dfBs1.loc[(dfBs1['Activity'] == 'CONCT') & (dfBs1['Product - Cat 0'] == "Alcohol")]

In [26]:
dfBsReWr1 = dfBs1.loc[(dfBs1['Activity'] == 'WREST') & (dfBs1['Product - Cat 0'] == "Retail")] 
dfBsReCo1 = dfBs1.loc[(dfBs1['Activity'] == 'CONCT') & (dfBs1['Product - Cat 0'] == "Retail")]

In [27]:
dfBsAlWr1.reset_index(inplace = True)
dfBsAlCo1.reset_index(inplace = True)
dfBsReWr1.reset_index(inplace = True)
dfBsReCo1.reset_index(inplace = True)

In [28]:
dfBsAlWr1.head()

,index,Date,Activity,F&B,Retail.x,CR,Revenue,Attd.,F&B PC,Ret PC,...,Product - Cat 1,Product - Cat 2,Product - Cat 3,Product - Cat 4,Location,Stand Type,Service Style,Branded/Non-Branded,Retail.y,Concept
0,16699,2021-10-04,WREST,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,...,Packaged,Premium,16 Ounces,No Cat,Concessions,Bar,Standard,Branded,NO,NaN
1,16700,2021-10-04,WREST,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,...,Draft,Craft,16 Ounces,No Cat,Concessions,Bar,Standard,Branded,NO,NaN
2,16702,2021-10-04,WREST,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,...,Packaged,Domestic,24 Ounces,No Cat,Concessions,Bar,Standard,Branded,NO,NaN
3,16703,2021-10-04,WREST,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,...,Draft,Craft,24 Ounces,No Cat,Concessions,Bar,Standard,Branded,NO,NaN
4,16704,2021-10-04,WREST,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,...,Draft,Craft,24 Ounces,No Cat,Concessions,Bar,Standard,Branded,NO,NaN

In [29]:
dfBsReCo1.head()

,index,Date,Activity,F&B,Retail.x,CR,Revenue,Attd.,F&B PC,Ret PC,...,Product - Cat 1,Product - Cat 2,Product - Cat 3,Product - Cat 4,Location,Stand Type,Service Style,Branded/Non-Branded,Retail.y,Concept
0,47,2021-09-09,CONCT,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,...,Retail,Retail,Regular,No Cat,Concessions,Bar,Standard,Non-Branded,NO,NaN
1,87,2021-09-09,CONCT,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,...,Retail,Retail,Large,No Cat,Concessions,Bar,Standard,Branded,NO,NaN
2,89,2021-09-09,CONCT,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,...,Retail,Retail,Small,No Cat,Concessions,Bar,Standard,Branded,NO,NaN
3,183,2021-09-09,CONCT,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,...,Retail,Retail,Large,No Cat,Concessions,Bar,Standard,Branded,NO,NaN
4,250,2021-09-09,CONCT,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,...,Retail,Retail,Large,No Cat,Concessions,Bar,Standard,Branded,NO,NaN

In [30]:
dfBsAlWr1.head()

,index,Date,Activity,F&B,Retail.x,CR,Revenue,Attd.,F&B PC,Ret PC,...,Product - Cat 1,Product - Cat 2,Product - Cat 3,Product - Cat 4,Location,Stand Type,Service Style,Branded/Non-Branded,Retail.y,Concept
0,16699,2021-10-04,WREST,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,...,Packaged,Premium,16 Ounces,No Cat,Concessions,Bar,Standard,Branded,NO,NaN
1,16700,2021-10-04,WREST,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,...,Draft,Craft,16 Ounces,No Cat,Concessions,Bar,Standard,Branded,NO,NaN
2,16702,2021-10-04,WREST,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,...,Packaged,Domestic,24 Ounces,No Cat,Concessions,Bar,Standard,Branded,NO,NaN
3,16703,2021-10-04,WREST,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,...,Draft,Craft,24 Ounces,No Cat,Concessions,Bar,Standard,Branded,NO,NaN
4,16704,2021-10-04,WREST,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,...,Draft,Craft,24 Ounces,No Cat,Concessions,Bar,Standard,Branded,NO,NaN

In [31]:
dfBsReCo1.head()

,index,Date,Activity,F&B,Retail.x,CR,Revenue,Attd.,F&B PC,Ret PC,...,Product - Cat 1,Product - Cat 2,Product - Cat 3,Product - Cat 4,Location,Stand Type,Service Style,Branded/Non-Branded,Retail.y,Concept
0,47,2021-09-09,CONCT,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,...,Retail,Retail,Regular,No Cat,Concessions,Bar,Standard,Non-Branded,NO,NaN
1,87,2021-09-09,CONCT,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,...,Retail,Retail,Large,No Cat,Concessions,Bar,Standard,Branded,NO,NaN
2,89,2021-09-09,CONCT,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,...,Retail,Retail,Small,No Cat,Concessions,Bar,Standard,Branded,NO,NaN
3,183,2021-09-09,CONCT,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,...,Retail,Retail,Large,No Cat,Concessions,Bar,Standard,Branded,NO,NaN
4,250,2021-09-09,CONCT,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,...,Retail,Retail,Large,No Cat,Concessions,Bar,Standard,Branded,NO,NaN

In [32]:
# change the datframe names properly

In [33]:
dfBsAlWr1['avgPurchase'] = dfBsAlWr1['qty'] /dfBsAlWr1['Attd.']
dfBsAlCo1['avgPurchase'] = dfBsAlCo1['qty'] /dfBsAlCo1['Attd.']
dfBsReWr1['avgPurchase'] = dfBsReWr1['qty'] /dfBsReWr1['Attd.']
dfBsReCo1['avgPurchase'] = dfBsReCo1['qty'] /dfBsReCo1['Attd.']

<ipython-input-33-d36498518ab4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfBsAlWr1['avgPurchase'] = dfBsAlWr1['qty'] /dfBsAlWr1['Attd.']
<ipython-input-33-d36498518ab4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfBsAlCo1['avgPurchase'] = dfBsAlCo1['qty'] /dfBsAlCo1['Attd.']
<ipython-input-33-d36498518ab4>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfBsReWr1['avgPurchase'] = dfBsReWr1['qty'] /dfBsReWr1['Attd.']
<ipython-input-33-d36498518ab4>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfBsReCo1['avgPurchase'] = dfBsReCo1['qty'] /dfBsReCo1['Attd.']

In [34]:
# change capital b to small b eg : Hp to hp or Td to td

In [35]:
dfbsAlWr = dfBsAlWr1.drop(['index','Item Cost','Product - Cat 0','Concept','is_tax_exempt','Activity','Date','TH_Loc','item_id','item_name','Product - Cat 4','Location','Service Style','Retail.y'],axis =1)
dfbsAlCo = dfBsAlCo1.drop(['index','Item Cost','Product - Cat 0','Concept','is_tax_exempt','Activity','Date','TH_Loc','item_id','item_name','Product - Cat 4','Location','Service Style','Retail.y'],axis =1)
dfbsReWr = dfBsReWr1.drop(['index','Item Cost','Product - Cat 0','Concept','is_tax_exempt','Activity','Date','TH_Loc','item_id','item_name','Product - Cat 4','Location','Service Style','Retail.y'],axis =1)
dfbsReCo = dfBsReCo1.drop(['index','Item Cost','Product - Cat 0','Concept','is_tax_exempt','Activity','Date','TH_Loc','item_id','item_name','Product - Cat 4','Location','Service Style','Retail.y'],axis =1)

In [36]:
dfbsAlWr1  = dfbsAlWr.copy()
dfbsAlCo1 = dfbsAlCo.copy()
dfbsReWr1 = dfbsReWr.copy()
dfbsReCo1 =  dfbsReCo.copy()

In [37]:
dfbsAlWr1['Product - Cat 3'].value_counts()

Regular        304
25 Ounces      229
24 Ounces      196
16 Ounces      194
20 Ounces       15
3.5oz            7
18.5oz           6
19.2 Ounces      3
12 Ounces        2
Name: Product - Cat 3, dtype: int64

In [38]:
dfbsAlCo1['Product - Cat 3'].value_counts()

Regular        15341
25 Ounces       6326
16 Ounces       6297
24 Ounces       5005
20 Ounces        325
19.2 Ounces      273
18.5oz           176
12 Ounces         87
3.5oz             75
Large              5
11.5oz             5
Name: Product - Cat 3, dtype: int64

In [39]:
dfbsReWr1['Product - Cat 3'].value_counts()

Regular     157
Souvenir     34
Large         6
Small         3
30oz          1
Name: Product - Cat 3, dtype: int64

In [40]:
dfbsReCo1['Product - Cat 3'].value_counts()

Regular      4113
Souvenir      714
Large         249
Small         123
12 Ounces      37
30oz            3
Name: Product - Cat 3, dtype: int64

In [41]:
dfbsAlWr1 = dfbsAlWr1.drop(['F&B', 'Retail.x', 'CR', 'Revenue', 'Attd.', 'F&B PC', 'Ret PC','CR PC', 'Total PC'], axis =1)
dfbsAlCo1 = dfbsAlCo1.drop(['F&B', 'Retail.x', 'CR', 'Revenue', 'Attd.', 'F&B PC', 'Ret PC','CR PC', 'Total PC'], axis =1)
dfbsReWr1 = dfbsReWr1.drop(['F&B', 'Retail.x', 'CR', 'Revenue', 'Attd.', 'F&B PC', 'Ret PC','CR PC', 'Total PC'], axis =1)
dfbsReCo1 = dfbsReCo1.drop(['F&B', 'Retail.x', 'CR', 'Revenue', 'Attd.', 'F&B PC', 'Ret PC','CR PC', 'Total PC'], axis =1)

In [42]:
# only for alcohol 
dfbsAlWr1['Product - Cat 3'] = ['Small' if ( x == '3.5oz' or x == '11.5oz' or x == '12 Ounces' ) else 'Regular' if ( x == '16 Ounces'  or x == '20 Ounces' or x == '19.2 Ounces' or x == '18.5oz') else 'Large' for x in dfbsAlWr1['Product - Cat 3']]
dfbsAlCo1['Product - Cat 3'] = ['Small' if ( x == '3.5oz' or x == '11.5oz' or x == '12 Ounces' ) else 'Regular' if (x == '16 Ounces'  or x == '20 Ounces' or x == '19.2 Ounces' or x == '18.5oz' or x == '19.2 Ounces') else 'Large' for x in dfbsAlCo1['Product - Cat 3']]

In [43]:
# only for retail 
dfbsReWr1['Product - Cat 3'] = ['Small' if ( x == 'Souvenir' ) else x for x in dfbsReWr1['Product - Cat 3']]
dfbsReWr1['Product - Cat 3'] = ['Large' if ( x == '30oz' ) else x  for x in dfbsReWr1['Product - Cat 3']]


dfbsReCo1['Product - Cat 3'] = ['Small' if ( x == 'Souvenir' or x == '12 Ounces') else x  for x in dfbsReCo1['Product - Cat 3']]
dfbsReCo1['Product - Cat 3'] = ['Large' if ( x == '30oz') else x  for x in dfbsReCo1['Product - Cat 3']]

In [44]:
dfbsAlWr1.isna().sum().sum()

0

In [45]:
dfbsAlCo1.isna().sum().sum()

0

In [46]:
dfbsReWr1.isna().sum().sum()

0

In [47]:
dfbsReCo1.isna().sum().sum()

0

In [48]:
from kmodes.kprototypes import KPrototypes

In [49]:
dfbsAlWr1.head()

,source_system,qty,amount,Price,Product - Cat 1,Product - Cat 2,Product - Cat 3,Stand Type,Branded/Non-Branded,avgPurchase
0,appetize,4,25.0,6.25,Packaged,Premium,Regular,Bar,Branded,0.000822
1,appetize,5,50.0,10.00,Draft,Craft,Regular,Bar,Branded,0.001027
2,appetize,6,78.0,13.00,Packaged,Domestic,Large,Bar,Branded,0.001233
3,appetize,5,65.0,13.00,Draft,Craft,Large,Bar,Branded,0.001027
4,appetize,6,78.0,13.00,Draft,Craft,Large,Bar,Branded,0.001233

In [50]:
dfbsAlCo1.head()

,source_system,qty,amount,Price,Product - Cat 1,Product - Cat 2,Product - Cat 3,Stand Type,Branded/Non-Branded,avgPurchase
0,appetize,1,6.5,6.5,Packaged,Premium,Regular,Bar,Branded,0.000083
1,appetize,49,686.0,14.0,Packaged,Domestic,Large,Bar,Branded,0.004082
2,appetize,38,532.0,14.0,Packaged,Domestic,Large,Bar,Branded,0.003166
3,appetize,1,14.0,14.0,Draft,Craft,Large,Bar,Branded,0.000083
4,appetize,3,42.0,14.0,Draft,Craft,Large,Bar,Branded,0.000250

In [51]:
dfbsReWr1.head()

,source_system,qty,amount,Price,Product - Cat 1,Product - Cat 2,Product - Cat 3,Stand Type,Branded/Non-Branded,avgPurchase
0,appetize,1,6.0,6.0,Retail,Retail,Large,Bar,Branded,0.000205
1,appetize,18,360.0,20.0,Retail,Retail,Small,Bar,Branded,0.003698
2,appetize,5,32.5,6.5,Retail,Retail,Small,Bar,Branded,0.001027
3,appetize,4,26.0,6.5,Retail,Retail,Small,Bar,Other,0.000822
4,appetize,1,5.0,5.0,Retail,Retail,Small,Portable,Other,0.000205

In [52]:
dfbsReCo1.head()

,source_system,qty,amount,Price,Product - Cat 1,Product - Cat 2,Product - Cat 3,Stand Type,Branded/Non-Branded,avgPurchase
0,appetize,1,1.0,1.0,Retail,Retail,Regular,Bar,Non-Branded,0.000083
1,appetize,1,6.0,6.0,Retail,Retail,Large,Bar,Branded,0.000083
2,appetize,2,10.0,5.0,Retail,Retail,Small,Bar,Branded,0.000167
3,appetize,1,6.0,6.0,Retail,Retail,Large,Bar,Branded,0.000083
4,appetize,9,54.0,6.0,Retail,Retail,Large,Bar,Branded,0.000750

In [53]:
from kmodes.kprototypes import KPrototypes

In [54]:
mark_arrays_AlcoholWrestling = dfbsAlWr1.values
mark_arrays_AlcoholConcert = dfbsAlCo1.values
mark_arrays_RetailWrestling = dfbsReWr1.values
mark_arrays_RetailConcert = dfbsReCo1.values

In [55]:
# for alchol wrestling
mark_arrays_AlcoholWrestling[:,1] = mark_arrays_AlcoholWrestling[:,1].astype(float)
mark_arrays_AlcoholWrestling[:,2] = mark_arrays_AlcoholWrestling[:,2].astype(float)
mark_arrays_AlcoholWrestling[:,3] = mark_arrays_AlcoholWrestling[:,3].astype(float)
mark_arrays_AlcoholWrestling[:,9] = mark_arrays_AlcoholWrestling[:,9].astype(float)

In [56]:
# for alchol Concert
mark_arrays_AlcoholConcert[:,1] = mark_arrays_AlcoholConcert[:,1].astype(float)
mark_arrays_AlcoholConcert[:,2] = mark_arrays_AlcoholConcert[:,2].astype(float)
mark_arrays_AlcoholConcert[:,3] = mark_arrays_AlcoholConcert[:,3].astype(float)
mark_arrays_AlcoholConcert[:,9] = mark_arrays_AlcoholConcert[:,9].astype(float)

In [57]:
# for Retail wrestling
mark_arrays_RetailWrestling[:,1] = mark_arrays_RetailWrestling[:,1].astype(float)
mark_arrays_RetailWrestling[:,2] = mark_arrays_RetailWrestling[:,2].astype(float)
mark_arrays_RetailWrestling[:,3] = mark_arrays_RetailWrestling[:,3].astype(float)
mark_arrays_RetailWrestling[:,9] = mark_arrays_RetailWrestling[:,9].astype(float)

In [58]:
# for Retail Concert
mark_arrays_RetailConcert[:,1] = mark_arrays_RetailConcert[:,1].astype(float)
mark_arrays_RetailConcert[:,2] = mark_arrays_RetailConcert[:,2].astype(float)
mark_arrays_RetailConcert[:,3] = mark_arrays_RetailConcert[:,3].astype(float)
mark_arrays_RetailConcert[:,9] = mark_arrays_RetailConcert[:,9].astype(float)

In [59]:
mark_arrays_AlcoholWrestling

array([['appetize', 4.0, 25.0, ..., 'Bar', 'Branded',
        0.0008218615163344976],
       ['appetize', 5.0, 50.0, ..., 'Bar', 'Branded',
        0.001027326895418122],
       ['appetize', 6.0, 78.0, ..., 'Bar', 'Branded',
        0.0012327922745017466],
       ...,
       ['appetize', 15.0, 135.0, ..., 'Restaurant', 'Other',
        0.0022932273352698363],
       ['appetize', 1.0, 8.0, ..., 'Restaurant', 'Other',
        0.00015288182235132243],
       ['appetize', 3.0, 33.0, ..., 'Restaurant', 'Other',
        0.00045864546705396726]], dtype=object)

In [60]:
kproto = KPrototypes(n_clusters=3 , verbose = 2 , max_iter = 20) 
clusters = kproto.fit_predict(mark_arrays_AlcoholWrestling,categorical=[0,4,5,6,7,8])

Initialization method and algorithm are deterministic. Setting n_init to 1.
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/20, moves: 206, ncost: 2327518.9940753384
Run: 1, iteration: 2/20, moves: 90, ncost: 2171326.737763536
Run: 1, iteration: 3/20, moves: 69, ncost: 2028913.4121418446
Run: 1, iteration: 4/20, moves: 41, ncost: 1930159.4323755486
Run: 1, iteration: 5/20, moves: 28, ncost: 1862251.2388758813
Run: 1, iteration: 6/20, moves: 28, ncost: 1835881.2687983543
Run: 1, iteration: 7/20, moves: 12, ncost: 1829430.8740348697
Run: 1, iteration: 8/20, moves: 5, ncost: 1828663.320715858
Run: 1, iteration: 9/20, moves: 0, ncost: 1828663.320715858
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/20, moves: 52, ncost: 1833600.0021727942
Run: 2, iteration: 2/20, moves: 3, ncost: 1828663.320715858
Run: 2, iteration: 3/20, moves: 0, ncost: 1828663.320715858
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/20, moves: 64, ncost: 1821042.4506384828
Run: 3, iteration: 2/20, moves: 28, ncost: 1788574.499279691
Run: 3, iteration: 3/20, moves: 4, ncost: 1787521.659829101
Run: 3, iteration: 4/20, moves: 0, ncost: 1787521.659829101
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 4, iteration: 1/20, moves: 93, ncost: 2119358.032599073
Run: 4, iteration: 2/20, moves: 33, ncost: 2014679.6726001017
Run: 4, iteration: 3/20, moves: 44, ncost: 1907627.9797840624
Run: 4, iteration: 4/20, moves: 21, ncost: 1859209.9592200245
Run: 4, iteration: 5/20, moves: 29, ncost: 1832905.4161172058
Run: 4, iteration: 6/20, moves: 12, ncost: 1828663.320715858
Run: 4, iteration: 7/20, moves: 0, ncost: 1828663.320715858
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 5, iteration: 1/20, moves: 364, ncost: 3086529.0767514147
Run: 5, iteration: 2/20, moves: 247, ncost: 2561789.992299813
Run: 5, iteration: 3/20, moves: 135, ncost: 2288057.405810588
Run: 5, iteration: 4/20, moves: 92, ncost: 2109343.646138398
Run: 5, iteration: 5/20, moves: 65, ncost: 1984264.877677257
Run: 5, iteration: 6/20, moves: 40, ncost: 1877616.0984374154
Run: 5, iteration: 7/20, moves: 34, ncost: 1837911.5728002707
Run: 5, iteration: 8/20, moves: 14, ncost: 1829430.8740348697
Run: 5, iteration: 9/20, moves: 5, ncost: 1828663.320715858
Run: 5, iteration: 10/20, moves: 0, ncost: 1828663.320715858
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 6, iteration: 1/20, moves: 106, ncost: 2201650.647046864
Run: 6, iteration: 2/20, moves: 61, ncost: 2028913.4121418446
Run: 6, iteration: 3/20, moves: 41, ncost: 1930159.4323755484
Run: 6, iteration: 4/20, moves: 28, ncost: 1862251.2388758815
Run: 6, iteration: 5/20, moves: 28, ncost: 1835881.2687983545
Run: 6, iteration: 6/20, moves: 12, ncost: 1829430.8740348697
Run: 6, iteration: 7/20, moves: 5, ncost: 1828663.320715858
Run: 6, iteration: 8/20, moves: 0, ncost: 1828663.320715858
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 7, iteration: 1/20, moves: 378, ncost: 3295298.410223978
Run: 7, iteration: 2/20, moves: 347, ncost: 2644177.7731785723
Run: 7, iteration: 3/20, moves: 157, ncost: 2303627.8480314775
Run: 7, iteration: 4/20, moves: 92, ncost: 2131897.3598922095
Run: 7, iteration: 5/20, moves: 58, ncost: 2015642.1534033795
Run: 7, iteration: 6/20, moves: 45, ncost: 1907627.9797840635
Run: 7, iteration: 7/20, moves: 21, ncost: 1859209.9592200245
Run: 7, iteration: 8/20, moves: 29, ncost: 1832905.4161172058
Run: 7, iteration: 9/20, moves: 12, ncost: 1828663.320715858
Run: 7, iteration: 10/20, moves: 0, ncost: 1828663.320715858
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 8, iteration: 1/20, moves: 32, ncost: 2024002.3063113778
Run: 8, iteration: 2/20, moves: 38, ncost: 1928568.6555879186
Run: 8, iteration: 3/20, moves: 26, ncost: 1862251.2388758815
Run: 8, iteration: 4/20, moves: 28, ncost: 1835881.2687983545
Run: 8, iteration: 5/20, moves: 12, ncost: 1829430.8740348697
Run: 8, iteration: 6/20, moves: 5, ncost: 1828663.320715858
Run: 8, iteration: 7/20, moves: 0, ncost: 1828663.320715858
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 9, iteration: 1/20, moves: 138, ncost: 2572434.8472243124
Run: 9, iteration: 2/20, moves: 131, ncost: 2297198.9081624546
Run: 9, iteration: 3/20, moves: 91, ncost: 2124406.615737902
Run: 9, iteration: 4/20, moves: 55, ncost: 2015642.1534033793
Run: 9, iteration: 5/20, moves: 45, ncost: 1907627.9797840635
Run: 9, iteration: 6/20, moves: 21, ncost: 1859209.9592200245
Run: 9, iteration: 7/20, moves: 29, ncost: 1832905.4161172058
Run: 9, iteration: 8/20, moves: 12, ncost: 1828663.320715858
Run: 9, iteration: 9/20, moves: 0, ncost: 1828663.320715858
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 10, iteration: 1/20, moves: 110, ncost: 2306653.4040912585
Run: 10, iteration: 2/20, moves: 64, ncost: 2130352.8322486705
Run: 10, iteration: 3/20, moves: 53, ncost: 2015642.1534033793
Run: 10, iteration: 4/20, moves: 45, ncost: 1907627.9797840624
Run: 10, iteration: 5/20, moves: 21, ncost: 1859209.9592200245
Run: 10, iteration: 6/20, moves: 29, ncost: 1832905.4161172058
Run: 10, iteration: 7/20, moves: 12, ncost: 1828663.320715858
Run: 10, iteration: 8/20, moves: 0, ncost: 1828663.320715858
Best run was number 3

In [61]:
print(kproto.cluster_centroids_)

[['12.718918918918918' '180.8918918918919' '14.877927927891891'
  '0.0022108201116261012' 'appetize' 'Packaged' 'Domestic' 'Large' 'Bar'
  'Branded']
 ['32.78260869565217' '476.9130434782609' '14.486578738260869'
  '0.005684019988356256' 'appetize' 'Packaged' 'Domestic' 'Large'
  'Portable' 'Branded']
 ['2.913101604278075' '37.63622994652407' '13.26741310160829'
  '0.0005252198012719627' 'appetize' 'Non-Beer' 'Domestic' 'Large' 'Bar'
  'Branded']]

In [62]:
cluster_dict = []
for c in clusters:
    cluster_dict.append(c)

In [63]:
dfbsAlWr['segment'] = cluster_dict

In [64]:
dfbsAlWr[dfbsAlWr['segment'] == 0].head(10)

,F&B,Retail.x,CR,Revenue,Attd.,F&B PC,Ret PC,CR PC,Total PC,source_system,qty,amount,Price,Product - Cat 1,Product - Cat 2,Product - Cat 3,Stand Type,Branded/Non-Branded,avgPurchase,segment
5,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,0.312137,16.474473,appetize,10,120.0,12.0,Draft,Domestic,24 Ounces,Bar,Branded,0.002055,0
6,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,0.312137,16.474473,appetize,10,130.0,13.0,Packaged,Domestic,25 Ounces,Bar,Branded,0.002055,0
7,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,0.312137,16.474473,appetize,14,182.0,13.0,Packaged,Premium,25 Ounces,Bar,Branded,0.002877,0
17,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,0.312137,16.474473,appetize,9,180.0,20.0,Non-Beer,dbl - tito's,Regular,Bar,Branded,0.001849,0
24,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,0.312137,16.474473,appetize,16,224.0,14.0,Packaged,Premium,24 Ounces,Bar,Branded,0.003287,0
25,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,0.312137,16.474473,appetize,14,196.0,14.0,Packaged,Premium,24 Ounces,Bar,Branded,0.002877,0
26,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,0.312137,16.474473,appetize,15,195.0,13.0,Packaged,Domestic,25 Ounces,Bar,Branded,0.003082,0
28,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,0.312137,16.474473,appetize,19,247.0,13.0,Packaged,Premium,25 Ounces,Bar,Branded,0.003904,0
35,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,0.312137,16.474473,appetize,7,140.0,20.0,Non-Beer,dbl - jack daniel's,Regular,Bar,Branded,0.001438,0
36,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,0.312137,16.474473,appetize,8,160.0,20.0,Non-Beer,dbl - jack daniel's - honey,Regular,Bar,Branded,0.001644,0

In [65]:
dfbsAlWr[dfbsAlWr['segment'] == 1].head(10)

,F&B,Retail.x,CR,Revenue,Attd.,F&B PC,Ret PC,CR PC,Total PC,source_system,qty,amount,Price,Product - Cat 1,Product - Cat 2,Product - Cat 3,Stand Type,Branded/Non-Branded,avgPurchase,segment
41,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,0.312137,16.474473,appetize,23,460.0,20.000000,Non-Beer,dbl - patron - silver,Regular,Bar,Branded,0.004726,1
102,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,0.312137,16.474473,appetize,41,537.0,13.097561,Packaged,Domestic,24 Ounces,Bar,Branded,0.008424,1
110,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,0.312137,16.474473,appetize,41,533.0,13.000000,Packaged,Domestic,25 Ounces,Bar,Branded,0.008424,1
118,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,0.312137,16.474473,appetize,39,507.0,13.000000,Packaged,Premium,25 Ounces,Bar,Branded,0.008013,1
230,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,0.312137,16.474473,appetize,32,419.0,13.093750,Packaged,Domestic,24 Ounces,Portable,Other,0.006575,1
232,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,0.312137,16.474473,appetize,32,416.0,13.000000,Packaged,Domestic,25 Ounces,Portable,Other,0.006575,1
240,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,0.312137,16.474473,appetize,27,351.0,13.000000,Packaged,Premium,25 Ounces,Portable,Other,0.005548,1
308,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,0.312137,16.474473,appetize,32,448.0,14.000000,Packaged,Domestic,24 Ounces,Portable,Branded,0.006575,1
470,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,0.312137,16.474473,appetize,27,351.0,13.000000,Packaged,Premium,25 Ounces,Stand,Non-Branded,0.005548,1
521,97354.92,8722.37,514.42,106591.71,6541.0,14.883798,1.333492,0.078645,16.295935,appetize,49,1127.0,23.000000,Non-Beer,dbl - patron - silver,Regular,Bar,Branded,0.007491,1

In [66]:
dfbsAlWr[dfbsAlWr['segment'] == 2].head(10)

,F&B,Retail.x,CR,Revenue,Attd.,F&B PC,Ret PC,CR PC,Total PC,source_system,qty,amount,Price,Product - Cat 1,Product - Cat 2,Product - Cat 3,Stand Type,Branded/Non-Branded,avgPurchase,segment
0,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,0.312137,16.474473,appetize,4,25.0,6.25,Packaged,Premium,16 Ounces,Bar,Branded,0.000822,2
1,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,0.312137,16.474473,appetize,5,50.0,10.00,Draft,Craft,16 Ounces,Bar,Branded,0.001027,2
2,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,0.312137,16.474473,appetize,6,78.0,13.00,Packaged,Domestic,24 Ounces,Bar,Branded,0.001233,2
3,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,0.312137,16.474473,appetize,5,65.0,13.00,Draft,Craft,24 Ounces,Bar,Branded,0.001027,2
4,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,0.312137,16.474473,appetize,6,78.0,13.00,Draft,Craft,24 Ounces,Bar,Branded,0.001233,2
8,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,0.312137,16.474473,appetize,1,20.0,20.00,Non-Beer,dbl - bacardi,Regular,Bar,Branded,0.000205,2
9,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,0.312137,16.474473,appetize,1,19.0,19.00,Non-Beer,Wine,Regular,Bar,Branded,0.000205,2
10,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,0.312137,16.474473,appetize,1,19.0,19.00,Non-Beer,Wine,Regular,Bar,Branded,0.000205,2
11,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,0.312137,16.474473,appetize,1,19.0,19.00,Non-Beer,Wine,Regular,Bar,Branded,0.000205,2
12,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,0.312137,16.474473,appetize,1,20.0,20.00,Non-Beer,dbl - crown royal,Regular,Bar,Branded,0.000205,2

In [67]:
mark_arrays_AlcoholConcert

array([['appetize', 1.0, 6.5, ..., 'Bar', 'Branded',
        8.331250520703157e-05],
       ['appetize', 49.0, 686.0, ..., 'Bar', 'Branded',
        0.004082312755144547],
       ['appetize', 38.0, 532.0, ..., 'Bar', 'Branded',
        0.0031658751978672],
       ...,
       ['appetize', 5.0, 35.0, ..., 'Restaurant', 'Other',
        0.0005209961446285298],
       ['appetize', 1.0, 11.0, ..., 'Restaurant', 'Other',
        0.00010419922892570594],
       ['appetize', 3.0, 18.0, ..., 'Restaurant', 'Other',
        0.00031259768677711783]], dtype=object)

In [68]:
kproto = KPrototypes(n_clusters=3 , verbose = 2 , max_iter = 20) 
clusters = kproto.fit_predict(mark_arrays_AlcoholConcert,categorical=[0,4,5,6,7,8])

Initialization method and algorithm are deterministic. Setting n_init to 1.
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/20, moves: 4670, ncost: 1235899632.2411149
Run: 1, iteration: 2/20, moves: 3990, ncost: 952925390.5325185
Run: 1, iteration: 3/20, moves: 2631, ncost: 801487528.872109
Run: 1, iteration: 4/20, moves: 1515, ncost: 744585333.6706681
Run: 1, iteration: 5/20, moves: 940, ncost: 715496043.4431949
Run: 1, iteration: 6/20, moves: 572, ncost: 700967585.5040303
Run: 1, iteration: 7/20, moves: 384, ncost: 694897910.7729242
Run: 1, iteration: 8/20, moves: 175, ncost: 692868930.0299516
Run: 1, iteration: 9/20, moves: 228, ncost: 691279410.1219134
Run: 1, iteration: 10/20, moves: 80, ncost: 690708723.1114447
Run: 1, iteration: 11/20, moves: 115, ncost: 690258991.9585608
Run: 1, iteration: 12/20, moves: 9, ncost: 690208915.2860767
Run: 1, iteration: 13/20, moves: 2, ncost: 690200722.7188319
Run: 1, iteration: 14/20, moves: 0, ncost: 690200722.7188319
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/20, moves: 2039, ncost: 854150552.6960019
Run: 2, iteration: 2/20, moves: 1726, ncost: 765628278.6479498
Run: 2, iteration: 3/20, moves: 1114, ncost: 727658225.712265
Run: 2, iteration: 4/20, moves: 677, ncost: 706568142.5421516
Run: 2, iteration: 5/20, moves: 476, ncost: 697736228.8917166
Run: 2, iteration: 6/20, moves: 291, ncost: 693763238.149416
Run: 2, iteration: 7/20, moves: 192, ncost: 692058978.6023494
Run: 2, iteration: 8/20, moves: 144, ncost: 690999363.5574334
Run: 2, iteration: 9/20, moves: 138, ncost: 690325222.3413693
Run: 2, iteration: 10/20, moves: 32, ncost: 690208915.2860767
Run: 2, iteration: 11/20, moves: 2, ncost: 690200722.7188319
Run: 2, iteration: 12/20, moves: 0, ncost: 690200722.7188319
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/20, moves: 6181, ncost: 1328095202.2631826
Run: 3, iteration: 2/20, moves: 4632, ncost: 1002776329.39724
Run: 3, iteration: 3/20, moves: 3002, ncost: 827545355.8733194
Run: 3, iteration: 4/20, moves: 1733, ncost: 754776869.3096101
Run: 3, iteration: 5/20, moves: 954, ncost: 723957487.8052603
Run: 3, iteration: 6/20, moves: 626, ncost: 705239705.7963632
Run: 3, iteration: 7/20, moves: 423, ncost: 697575437.2675105
Run: 3, iteration: 8/20, moves: 286, ncost: 693680788.5214214
Run: 3, iteration: 9/20, moves: 190, ncost: 691990904.5303309
Run: 3, iteration: 10/20, moves: 140, ncost: 690946352.6734143
Run: 3, iteration: 11/20, moves: 142, ncost: 690311416.6375731
Run: 3, iteration: 12/20, moves: 25, ncost: 690208915.2860767
Run: 3, iteration: 13/20, moves: 2, ncost: 690200722.7188319
Run: 3, iteration: 14/20, moves: 0, ncost: 690200722.7188319
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 4, iteration: 1/20, moves: 4150, ncost: 1191087935.2038076
Run: 4, iteration: 2/20, moves: 3648, ncost: 928839109.1311427
Run: 4, iteration: 3/20, moves: 2440, ncost: 792215443.0908455
Run: 4, iteration: 4/20, moves: 1422, ncost: 739522124.9459172
Run: 4, iteration: 5/20, moves: 864, ncost: 712373710.012779
Run: 4, iteration: 6/20, moves: 554, ncost: 700051839.6288741
Run: 4, iteration: 7/20, moves: 340, ncost: 694667793.0888525
Run: 4, iteration: 8/20, moves: 198, ncost: 692505100.3209119
Run: 4, iteration: 9/20, moves: 192, ncost: 691190565.7639611
Run: 4, iteration: 10/20, moves: 86, ncost: 690570031.9200373
Run: 4, iteration: 11/20, moves: 94, ncost: 690258991.9585608
Run: 4, iteration: 12/20, moves: 9, ncost: 690208915.2860767
Run: 4, iteration: 13/20, moves: 2, ncost: 690200722.7188319
Run: 4, iteration: 14/20, moves: 0, ncost: 690200722.7188319
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 5, iteration: 1/20, moves: 3840, ncost: 855271315.1587634
Run: 5, iteration: 2/20, moves: 734, ncost: 759075126.4337221
Run: 5, iteration: 3/20, moves: 751, ncost: 725109963.7376842
Run: 5, iteration: 4/20, moves: 613, ncost: 705431649.6749231
Run: 5, iteration: 5/20, moves: 431, ncost: 697575437.2675107
Run: 5, iteration: 6/20, moves: 286, ncost: 693680788.5214214
Run: 5, iteration: 7/20, moves: 190, ncost: 691990904.530331
Run: 5, iteration: 8/20, moves: 140, ncost: 690946352.6734143
Run: 5, iteration: 9/20, moves: 142, ncost: 690311416.6375731
Run: 5, iteration: 10/20, moves: 25, ncost: 690208915.2860767
Run: 5, iteration: 11/20, moves: 2, ncost: 690200722.7188319
Run: 5, iteration: 12/20, moves: 0, ncost: 690200722.7188319
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 6, iteration: 1/20, moves: 725, ncost: 697064593.9399343
Run: 6, iteration: 2/20, moves: 172, ncost: 692115604.3929288
Run: 6, iteration: 3/20, moves: 56, ncost: 691131773.6719524
Run: 6, iteration: 4/20, moves: 82, ncost: 690462954.392911
Run: 6, iteration: 5/20, moves: 73, ncost: 690257766.5404812
Run: 6, iteration: 6/20, moves: 7, ncost: 690208915.2860767
Run: 6, iteration: 7/20, moves: 2, ncost: 690200722.7188319
Run: 6, iteration: 8/20, moves: 0, ncost: 690200722.7188319
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 7, iteration: 1/20, moves: 2164, ncost: 969764004.3554677
Run: 7, iteration: 2/20, moves: 1970, ncost: 808586275.441286
Run: 7, iteration: 3/20, moves: 1394, ncost: 746692366.5581627
Run: 7, iteration: 4/20, moves: 948, ncost: 716456123.0512199
Run: 7, iteration: 5/20, moves: 582, ncost: 701459966.8685777
Run: 7, iteration: 6/20, moves: 385, ncost: 695142350.7850704
Run: 7, iteration: 7/20, moves: 185, ncost: 692868930.0299516
Run: 7, iteration: 8/20, moves: 228, ncost: 691279410.1219134
Run: 7, iteration: 9/20, moves: 80, ncost: 690708723.1114447
Run: 7, iteration: 10/20, moves: 115, ncost: 690258991.9585608
Run: 7, iteration: 11/20, moves: 9, ncost: 690208915.2860767
Run: 7, iteration: 12/20, moves: 2, ncost: 690200722.7188319
Run: 7, iteration: 13/20, moves: 0, ncost: 690200722.7188319
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 8, iteration: 1/20, moves: 1570, ncost: 861695151.5622585
Run: 8, iteration: 2/20, moves: 1315, ncost: 765202766.0575268
Run: 8, iteration: 3/20, moves: 1026, ncost: 727265295.07824
Run: 8, iteration: 4/20, moves: 657, ncost: 706459251.1711
Run: 8, iteration: 5/20, moves: 475, ncost: 697736228.8917166
Run: 8, iteration: 6/20, moves: 291, ncost: 693763238.149416
Run: 8, iteration: 7/20, moves: 192, ncost: 692058978.6023493
Run: 8, iteration: 8/20, moves: 144, ncost: 690999363.5574332
Run: 8, iteration: 9/20, moves: 138, ncost: 690325222.3413693
Run: 8, iteration: 10/20, moves: 32, ncost: 690208915.2860767
Run: 8, iteration: 11/20, moves: 2, ncost: 690200722.7188319
Run: 8, iteration: 12/20, moves: 0, ncost: 690200722.7188319
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 9, iteration: 1/20, moves: 19063, ncost: 1271104288.740939
Run: 9, iteration: 2/20, moves: 7497, ncost: 987674516.2591085
Run: 9, iteration: 3/20, moves: 3553, ncost: 820178019.6219977
Run: 9, iteration: 4/20, moves: 1802, ncost: 752369172.2557225
Run: 9, iteration: 5/20, moves: 977, ncost: 721043775.2595147
Run: 9, iteration: 6/20, moves: 617, ncost: 703830930.2159638
Run: 9, iteration: 7/20, moves: 400, ncost: 696635261.8449394
Run: 9, iteration: 8/20, moves: 279, ncost: 693382884.0449595
Run: 9, iteration: 9/20, moves: 174, ncost: 691903604.452238
Run: 9, iteration: 10/20, moves: 122, ncost: 690946352.6734143
Run: 9, iteration: 11/20, moves: 142, ncost: 690311416.6375732
Run: 9, iteration: 12/20, moves: 25, ncost: 690208915.2860765
Run: 9, iteration: 13/20, moves: 2, ncost: 690200722.7188319
Run: 9, iteration: 14/20, moves: 0, ncost: 690200722.7188319
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 10, iteration: 1/20, moves: 2451, ncost: 987349703.7932492
Run: 10, iteration: 2/20, moves: 2410, ncost: 821772915.1914544
Run: 10, iteration: 3/20, moves: 1595, ncost: 752642795.7583379
Run: 10, iteration: 4/20, moves: 918, ncost: 722535294.2160534
Run: 10, iteration: 5/20, moves: 615, ncost: 704371355.1175946
Run: 10, iteration: 6/20, moves: 404, ncost: 696900831.9079285
Run: 10, iteration: 7/20, moves: 280, ncost: 693399055.202495
Run: 10, iteration: 8/20, moves: 176, ncost: 691917700.1886283
Run: 10, iteration: 9/20, moves: 125, ncost: 690946352.6734143
Run: 10, iteration: 10/20, moves: 142, ncost: 690311416.6375731
Run: 10, iteration: 11/20, moves: 25, ncost: 690208915.2860767
Run: 10, iteration: 12/20, moves: 2, ncost: 690200722.7188319
Run: 10, iteration: 13/20, moves: 0, ncost: 690200722.7188319
Best run was number 1

In [69]:
print(kproto.cluster_centroids_)

[['5.6184435388458' '77.7655399631918' '13.804309498447257'
  '0.0005212513475807764' 'appetize' 'Non-Beer' 'Domestic' 'Large' 'Bar'
  'Branded']
 ['126.46216216216216' '2286.1243243243243' '18.897297297297257'
  '0.009495982428753621' 'appetize' 'Non-Beer' "dbl - tito's" 'Large'
  'Bar' 'Branded']
 ['40.98299647096567' '641.1367500802053' '16.250626651803028'
  '0.003369719716510856' 'appetize' 'Non-Beer' 'Seltzer' 'Large' 'Bar'
  'Branded']]

In [70]:
cluster_dict = []
for c in clusters:
    cluster_dict.append(c)

In [71]:
dfbsAlCo['segment'] = cluster_dict

In [72]:
dfbsAlCo[dfbsAlCo['segment'] == 0].head(10)

,F&B,Retail.x,CR,Revenue,Attd.,F&B PC,Ret PC,CR PC,Total PC,source_system,qty,amount,Price,Product - Cat 1,Product - Cat 2,Product - Cat 3,Stand Type,Branded/Non-Branded,avgPurchase,segment
0,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,1,6.5,6.5,Packaged,Premium,16 Ounces,Bar,Branded,0.000083,0
3,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,1,14.0,14.0,Draft,Craft,24 Ounces,Bar,Branded,0.000083,0
4,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,3,42.0,14.0,Draft,Craft,24 Ounces,Bar,Branded,0.000250,0
9,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,13,195.0,15.0,Non-Beer,Seltzer,25 Ounces,Bar,Branded,0.001083,0
10,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,13,195.0,15.0,Non-Beer,Seltzer,25 Ounces,Bar,Branded,0.001083,0
11,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,13,195.0,15.0,Non-Beer,Seltzer,25 Ounces,Bar,Branded,0.001083,0
12,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,2,28.0,14.0,Packaged,Domestic,25 Ounces,Bar,Branded,0.000167,0
14,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,12,264.0,22.0,Non-Beer,dbl - abernathy,Regular,Bar,Branded,0.001000,0
16,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,1,21.0,21.0,Non-Beer,Wine,Regular,Bar,Branded,0.000083,0
17,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,1,21.0,21.0,Non-Beer,Wine,Regular,Bar,Branded,0.000083,0

In [73]:
dfbsAlCo[dfbsAlCo['segment'] == 1].head(10)

,F&B,Retail.x,CR,Revenue,Attd.,F&B PC,Ret PC,CR PC,Total PC,source_system,qty,amount,Price,Product - Cat 1,Product - Cat 2,Product - Cat 3,Stand Type,Branded/Non-Branded,avgPurchase,segment
78,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,124,2728.0,22.0,Non-Beer,dbl - patron - silver,Regular,Bar,Branded,0.010331,1
131,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,105,1470.0,14.0,Packaged,Premium,25 Ounces,Bar,Branded,0.008748,1
169,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,129,2838.0,22.0,Non-Beer,dbl - tito's,Regular,Bar,Branded,0.010747,1
279,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,93,2046.0,22.0,Non-Beer,dbl - tito's,Regular,Bar,Branded,0.007748,1
386,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,104,2288.0,22.0,Non-Beer,dbl - finlandia,Regular,Other,Other,0.008665,1
434,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,72,1584.0,22.0,Non-Beer,dbl - tito's,Regular,Bar,Branded,0.005999,1
504,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,68,1496.0,22.0,Non-Beer,dbl - tito's,Regular,Bar,Branded,0.005665,1
551,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,71,1562.0,22.0,Non-Beer,dbl - new amsterdam - vodka,Regular,Bar,Branded,0.005915,1
1028,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,106,1484.0,14.0,Packaged,Premium,25 Ounces,Portable,Branded,0.008831,1
1497,222766.89,13033.67,2777.49,238578.05,9386.0,23.733954,1.388629,0.295918,25.418501,appetize,157,3454.0,22.0,Non-Beer,dbl - patron - silver,Regular,Bar,Branded,0.016727,1

In [74]:
dfbsAlCo[dfbsAlCo['segment'] == 2].head(10)

,F&B,Retail.x,CR,Revenue,Attd.,F&B PC,Ret PC,CR PC,Total PC,source_system,qty,amount,Price,Product - Cat 1,Product - Cat 2,Product - Cat 3,Stand Type,Branded/Non-Branded,avgPurchase,segment
1,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,49,686.0,14.0,Packaged,Domestic,24 Ounces,Bar,Branded,0.004082,2
2,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,38,532.0,14.0,Packaged,Domestic,24 Ounces,Bar,Branded,0.003166,2
5,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,55,770.0,14.0,Packaged,Domestic,25 Ounces,Bar,Branded,0.004582,2
6,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,37,555.0,15.0,Non-Beer,Seltzer,25 Ounces,Bar,Branded,0.003083,2
7,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,37,555.0,15.0,Non-Beer,Seltzer,25 Ounces,Bar,Branded,0.003083,2
8,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,37,555.0,15.0,Non-Beer,Seltzer,25 Ounces,Bar,Branded,0.003083,2
13,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,83,1162.0,14.0,Packaged,Premium,25 Ounces,Bar,Branded,0.006915,2
15,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,22,484.0,22.0,Non-Beer,dbl - bacardi,Regular,Bar,Branded,0.001833,2
20,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,30,660.0,22.0,Non-Beer,dbl - crown royal,Regular,Bar,Branded,0.002499,2
22,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,23,506.0,22.0,Non-Beer,dbl - jack daniel's,Regular,Bar,Branded,0.001916,2

In [75]:
mark_arrays_RetailWrestling

array([['appetize', 1.0, 6.0, ..., 'Bar', 'Branded',
        0.0002054653790836244],
       ['appetize', 18.0, 360.0, ..., 'Bar', 'Branded',
        0.0036983768235052394],
       ['appetize', 5.0, 32.5, ..., 'Bar', 'Branded',
        0.001027326895418122],
       ...,
       ['netsuite', 1.0, 49.99, ..., 'Other', 'Other',
        0.00015288182235132243],
       ['netsuite', 1.0, 84.99, ..., 'Other', 'Other',
        0.00015288182235132243],
       ['netsuite', 2.0, 179.98, ..., 'Other', 'Other',
        0.00030576364470264486]], dtype=object)

In [76]:
kproto = KPrototypes(n_clusters=3 , verbose = 2 , max_iter = 20) 
clusters = kproto.fit_predict(mark_arrays_RetailWrestling,categorical=[0,4,5,6,7,8])

Initialization method and algorithm are deterministic. Setting n_init to 1.
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/20, moves: 22, ncost: 69738854.94994655
Run: 1, iteration: 2/20, moves: 11, ncost: 59561455.49260975
Run: 1, iteration: 3/20, moves: 5, ncost: 50152772.66083057
Run: 1, iteration: 4/20, moves: 8, ncost: 34888919.396454535
Run: 1, iteration: 5/20, moves: 2, ncost: 29083482.410669286
Run: 1, iteration: 6/20, moves: 2, ncost: 28180378.696372963
Run: 1, iteration: 7/20, moves: 0, ncost: 28180378.696372963
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/20, moves: 131, ncost: 76775014.66520554
Run: 2, iteration: 2/20, moves: 40, ncost: 62275968.566289544
Run: 2, iteration: 3/20, moves: 13, ncost: 50995114.33371769
Run: 2, iteration: 4/20, moves: 9, ncost: 34888919.39645466
Run: 2, iteration: 5/20, moves: 2, ncost: 29083482.410669353
Run: 2, iteration: 6/20, moves: 2, ncost: 28180378.69637297
Run: 2, iteration: 7/20, moves: 0, ncost: 28180378.69637297
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/20, moves: 7, ncost: 43051752.311052255
Run: 3, iteration: 2/20, moves: 1, ncost: 34888919.396454506
Run: 3, iteration: 3/20, moves: 2, ncost: 29083482.410669275
Run: 3, iteration: 4/20, moves: 2, ncost: 28180378.696373075
Run: 3, iteration: 5/20, moves: 0, ncost: 28180378.696373075
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 4, iteration: 1/20, moves: 6, ncost: 59814553.672399506
Run: 4, iteration: 2/20, moves: 6, ncost: 50152772.66083057
Run: 4, iteration: 3/20, moves: 8, ncost: 34888919.39645453
Run: 4, iteration: 4/20, moves: 2, ncost: 29083482.410669286
Run: 4, iteration: 5/20, moves: 2, ncost: 28180378.696372967
Run: 4, iteration: 6/20, moves: 0, ncost: 28180378.696372967
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 5, iteration: 1/20, moves: 139, ncost: 68948211.1304786
Run: 5, iteration: 2/20, moves: 34, ncost: 61343167.75129336
Run: 5, iteration: 3/20, moves: 11, ncost: 50152772.660830535
Run: 5, iteration: 4/20, moves: 8, ncost: 34888919.39645449
Run: 5, iteration: 5/20, moves: 2, ncost: 29083482.410669267
Run: 5, iteration: 6/20, moves: 2, ncost: 28180378.696372967
Run: 5, iteration: 7/20, moves: 0, ncost: 28180378.696372967
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 6, iteration: 1/20, moves: 12, ncost: 58782014.35369978
Run: 6, iteration: 2/20, moves: 3, ncost: 50152772.66083056
Run: 6, iteration: 3/20, moves: 8, ncost: 34888919.39645452
Run: 6, iteration: 4/20, moves: 2, ncost: 29083482.410669286
Run: 6, iteration: 5/20, moves: 2, ncost: 28180378.696372997
Run: 6, iteration: 6/20, moves: 0, ncost: 28180378.696372997
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 7, iteration: 1/20, moves: 7, ncost: 46703098.3692606
Run: 7, iteration: 2/20, moves: 4, ncost: 34888919.39645451
Run: 7, iteration: 3/20, moves: 2, ncost: 29083482.41066928
Run: 7, iteration: 4/20, moves: 2, ncost: 28180378.696372993
Run: 7, iteration: 5/20, moves: 0, ncost: 28180378.696372993
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 8, iteration: 1/20, moves: 5, ncost: 59203476.09537571
Run: 8, iteration: 2/20, moves: 4, ncost: 50152772.66083057
Run: 8, iteration: 3/20, moves: 8, ncost: 34888919.39645451
Run: 8, iteration: 4/20, moves: 2, ncost: 29083482.410669282
Run: 8, iteration: 5/20, moves: 2, ncost: 28180378.696372967
Run: 8, iteration: 6/20, moves: 0, ncost: 28180378.696372967
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 9, iteration: 1/20, moves: 15, ncost: 64246099.25179935
Run: 9, iteration: 2/20, moves: 12, ncost: 50995114.33371756
Run: 9, iteration: 3/20, moves: 9, ncost: 34888919.39645453
Run: 9, iteration: 4/20, moves: 2, ncost: 29083482.410669286
Run: 9, iteration: 5/20, moves: 2, ncost: 28180378.696372967
Run: 9, iteration: 6/20, moves: 0, ncost: 28180378.696372967
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 10, iteration: 1/20, moves: 14, ncost: 64246099.25179935
Run: 10, iteration: 2/20, moves: 12, ncost: 50995114.33371757
Run: 10, iteration: 3/20, moves: 9, ncost: 34888919.396454506
Run: 10, iteration: 4/20, moves: 2, ncost: 29083482.41066928
Run: 10, iteration: 5/20, moves: 2, ncost: 28180378.696372967
Run: 10, iteration: 6/20, moves: 0, ncost: 28180378.696372967
Best run was number 1

In [77]:
print(kproto.cluster_centroids_)

[['8.136125654450261' '146.95020942408365' '56.00659609299467'
  '0.0014880626531701914' 'netsuite' 'Retail' 'Retail' 'Regular' 'Other'
  'Other']
 ['47.666666666666664' '9532.856666666667' '199.9900000000001'
  '0.007287366865413026' 'netsuite' 'Retail' 'Retail' 'Regular' 'Other'
  'Other']
 ['18.714285714285715' '3742.669999999998' '199.9900000000001'
  '0.002861074104003317' 'netsuite' 'Retail' 'Retail' 'Regular' 'Other'
  'Other']]

In [78]:
cluster_dict = []
for c in clusters:
    cluster_dict.append(c)

In [79]:
dfbsReWr['segment'] = cluster_dict

In [80]:
dfbsReWr[dfbsReWr['segment'] == 0].head(10)

,F&B,Retail.x,CR,Revenue,Attd.,F&B PC,Ret PC,CR PC,Total PC,source_system,qty,amount,Price,Product - Cat 1,Product - Cat 2,Product - Cat 3,Stand Type,Branded/Non-Branded,avgPurchase,segment
0,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,0.312137,16.474473,appetize,1,6.00,6.00,Retail,Retail,Large,Bar,Branded,0.000205,0
1,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,0.312137,16.474473,appetize,18,360.00,20.00,Retail,Retail,Souvenir,Bar,Branded,0.003698,0
2,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,0.312137,16.474473,appetize,5,32.50,6.50,Retail,Retail,Souvenir,Bar,Branded,0.001027,0
3,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,0.312137,16.474473,appetize,4,26.00,6.50,Retail,Retail,Souvenir,Bar,Other,0.000822,0
4,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,0.312137,16.474473,appetize,1,5.00,5.00,Retail,Retail,Small,Portable,Other,0.000205,0
5,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,0.312137,16.474473,appetize,2,12.00,6.00,Retail,Retail,Large,Portable,Branded,0.000411,0
6,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,0.312137,16.474473,appetize,1,10.00,10.00,Retail,Retail,Souvenir,Portable,Non-Branded,0.000205,0
7,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,0.312137,16.474473,appetize,1,0.01,0.01,Retail,Retail,Regular,Bar,Branded,0.000205,0
8,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,0.312137,16.474473,appetize,42,273.00,6.50,Retail,Retail,Souvenir,Stand,Non-Branded,0.008630,0
9,78662.09,0.0,1519.17,80181.26,4867.0,16.162336,0.0,0.312137,16.474473,appetize,1,6.00,6.00,Retail,Retail,Large,Stand,Other,0.000205,0

In [81]:
dfbsReWr[dfbsReWr['segment'] == 1].head(10)

,F&B,Retail.x,CR,Revenue,Attd.,F&B PC,Ret PC,CR PC,Total PC,source_system,qty,amount,Price,Product - Cat 1,Product - Cat 2,Product - Cat 3,Stand Type,Branded/Non-Branded,avgPurchase,segment
67,97354.92,8722.37,514.42,106591.71,6541.0,14.883798,1.333492,0.078645,16.295935,netsuite,57,11399.43,199.99,Retail,Retail,Regular,Other,Other,0.008714,1
69,97354.92,8722.37,514.42,106591.71,6541.0,14.883798,1.333492,0.078645,16.295935,netsuite,47,9399.53,199.99,Retail,Retail,Regular,Other,Other,0.007185,1
71,97354.92,8722.37,514.42,106591.71,6541.0,14.883798,1.333492,0.078645,16.295935,netsuite,39,7799.61,199.99,Retail,Retail,Regular,Other,Other,0.005962,1

In [82]:
dfbsReWr[dfbsReWr['segment'] == 2].head(10)

,F&B,Retail.x,CR,Revenue,Attd.,F&B PC,Ret PC,CR PC,Total PC,source_system,qty,amount,Price,Product - Cat 1,Product - Cat 2,Product - Cat 3,Stand Type,Branded/Non-Branded,avgPurchase,segment
63,97354.92,8722.37,514.42,106591.71,6541.0,14.883798,1.333492,0.078645,16.295935,netsuite,14,2799.86,199.99,Retail,Retail,Regular,Other,Other,0.002140,2
65,97354.92,8722.37,514.42,106591.71,6541.0,14.883798,1.333492,0.078645,16.295935,netsuite,26,5199.74,199.99,Retail,Retail,Regular,Other,Other,0.003975,2
66,97354.92,8722.37,514.42,106591.71,6541.0,14.883798,1.333492,0.078645,16.295935,netsuite,14,2799.86,199.99,Retail,Retail,Regular,Other,Other,0.002140,2
68,97354.92,8722.37,514.42,106591.71,6541.0,14.883798,1.333492,0.078645,16.295935,netsuite,20,3999.80,199.99,Retail,Retail,Regular,Other,Other,0.003058,2
70,97354.92,8722.37,514.42,106591.71,6541.0,14.883798,1.333492,0.078645,16.295935,netsuite,25,4999.75,199.99,Retail,Retail,Regular,Other,Other,0.003822,2
72,97354.92,8722.37,514.42,106591.71,6541.0,14.883798,1.333492,0.078645,16.295935,netsuite,11,2199.89,199.99,Retail,Retail,Regular,Other,Other,0.001682,2
73,97354.92,8722.37,514.42,106591.71,6541.0,14.883798,1.333492,0.078645,16.295935,netsuite,21,4199.79,199.99,Retail,Retail,Regular,Other,Other,0.003211,2

In [83]:
mark_arrays_RetailConcert

array([['appetize', 1.0, 1.0, ..., 'Bar', 'Non-Branded',
        8.331250520703157e-05],
       ['appetize', 1.0, 6.0, ..., 'Bar', 'Branded',
        8.331250520703157e-05],
       ['appetize', 2.0, 10.0, ..., 'Bar', 'Branded',
        0.00016662501041406314],
       ...,
       ['netsuite', 1.0, 29.99, ..., 'Other', 'Other',
        0.00010419922892570594],
       ['netsuite', 2.0, 79.98, ..., 'Other', 'Other',
        0.0002083984578514119],
       ['netsuite', 1.0, 29.99, ..., 'Other', 'Other',
        0.00010419922892570594]], dtype=object)

In [84]:
kproto = KPrototypes(n_clusters=3 , verbose = 2 , max_iter = 20) 
clusters = kproto.fit_predict(mark_arrays_RetailConcert,categorical=[0,4,5,6,7,8])

Initialization method and algorithm are deterministic. Setting n_init to 1.
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/20, moves: 325, ncost: 514020575.8296038
Run: 1, iteration: 2/20, moves: 92, ncost: 465455465.61061144
Run: 1, iteration: 3/20, moves: 27, ncost: 455658871.63517684
Run: 1, iteration: 4/20, moves: 18, ncost: 451333996.46508765
Run: 1, iteration: 5/20, moves: 0, ncost: 451333996.46508765
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/20, moves: 1213, ncost: 661811537.5893092
Run: 2, iteration: 2/20, moves: 346, ncost: 512539481.2954567
Run: 2, iteration: 3/20, moves: 93, ncost: 463919179.08824277
Run: 2, iteration: 4/20, moves: 27, ncost: 454178882.94029486
Run: 2, iteration: 5/20, moves: 14, ncost: 451354688.6175506
Run: 2, iteration: 6/20, moves: 0, ncost: 451354688.6175506
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/20, moves: 91, ncost: 351966468.76358694
Run: 3, iteration: 2/20, moves: 55, ncost: 336646261.67323697
Run: 3, iteration: 3/20, moves: 36, ncost: 330549283.3038218
Run: 3, iteration: 4/20, moves: 17, ncost: 329841792.0023544
Run: 3, iteration: 5/20, moves: 4, ncost: 329821704.2462249
Run: 3, iteration: 6/20, moves: 0, ncost: 329821704.2462249
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 4, iteration: 1/20, moves: 375, ncost: 519151301.3333649
Run: 4, iteration: 2/20, moves: 94, ncost: 469115357.05915177
Run: 4, iteration: 3/20, moves: 35, ncost: 455679177.93985397
Run: 4, iteration: 4/20, moves: 18, ncost: 451354688.6175508
Run: 4, iteration: 5/20, moves: 0, ncost: 451354688.6175508
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 5, iteration: 1/20, moves: 638, ncost: 397812426.94373316
Run: 5, iteration: 2/20, moves: 318, ncost: 362663160.9259267
Run: 5, iteration: 3/20, moves: 190, ncost: 351879897.5721633
Run: 5, iteration: 4/20, moves: 29, ncost: 350728165.7092379
Run: 5, iteration: 5/20, moves: 6, ncost: 349784989.67459565
Run: 5, iteration: 6/20, moves: 11, ncost: 349038827.46386003
Run: 5, iteration: 7/20, moves: 0, ncost: 349038827.46386003
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 6, iteration: 1/20, moves: 221, ncost: 375480986.1543271
Run: 6, iteration: 2/20, moves: 187, ncost: 355747643.8907972
Run: 6, iteration: 3/20, moves: 116, ncost: 350774808.63650095
Run: 6, iteration: 4/20, moves: 17, ncost: 349973035.7318338
Run: 6, iteration: 5/20, moves: 12, ncost: 349038827.46386015
Run: 6, iteration: 6/20, moves: 0, ncost: 349038827.46386015
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 7, iteration: 1/20, moves: 154, ncost: 343511784.4846142
Run: 7, iteration: 2/20, moves: 21, ncost: 332539808.7405882
Run: 7, iteration: 3/20, moves: 20, ncost: 329932325.52912265
Run: 7, iteration: 4/20, moves: 7, ncost: 329821704.2462249
Run: 7, iteration: 5/20, moves: 0, ncost: 329821704.2462249
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 8, iteration: 1/20, moves: 2325, ncost: 422334930.99857676
Run: 8, iteration: 2/20, moves: 693, ncost: 376916314.1793751
Run: 8, iteration: 3/20, moves: 272, ncost: 356923027.4224056
Run: 8, iteration: 4/20, moves: 152, ncost: 350786730.8086934
Run: 8, iteration: 5/20, moves: 19, ncost: 349973035.7318341
Run: 8, iteration: 6/20, moves: 12, ncost: 349038827.4638606
Run: 8, iteration: 7/20, moves: 0, ncost: 349038827.4638606
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 9, iteration: 1/20, moves: 576, ncost: 542859060.3029702
Run: 9, iteration: 2/20, moves: 124, ncost: 475292503.6796067
Run: 9, iteration: 3/20, moves: 47, ncost: 456079218.6893381
Run: 9, iteration: 4/20, moves: 19, ncost: 451354688.61755073
Run: 9, iteration: 5/20, moves: 0, ncost: 451354688.61755073
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 10, iteration: 1/20, moves: 1154, ncost: 389052432.98460585
Run: 10, iteration: 2/20, moves: 480, ncost: 364461198.047389
Run: 10, iteration: 3/20, moves: 250, ncost: 353045070.2286004
Run: 10, iteration: 4/20, moves: 54, ncost: 350744862.073157
Run: 10, iteration: 5/20, moves: 11, ncost: 349973035.73183304
Run: 10, iteration: 6/20, moves: 12, ncost: 349038827.4638611
Run: 10, iteration: 7/20, moves: 0, ncost: 349038827.4638611
Best run was number 3

In [85]:
print(kproto.cluster_centroids_)

[['25.723618090452263' '996.1133165829144' '154.2309324400002'
  '0.002379485178958461' 'netsuite' 'Retail' 'Retail' 'Regular' 'Other'
  'Other']
 ['75.61224489795919' '3378.962857142857' '109.93795918367346'
  '0.007249403651573446' 'netsuite' 'Retail' 'Retail' 'Regular' 'Other'
  'Other']
 ['3.0442797034662394' '67.94111200160032' '47.05432979550677'
  '0.000299318509789819' 'netsuite' 'Retail' 'Retail' 'Regular' 'Other'
  'Other']]

In [86]:
cluster_dict = []
for c in clusters:
    cluster_dict.append(c)

In [87]:
dfbsReCo['segment'] = cluster_dict

In [88]:
dfbsReCo[dfbsReCo['segment'] == 0].head(10)

,F&B,Retail.x,CR,Revenue,Attd.,F&B PC,Ret PC,CR PC,Total PC,source_system,qty,amount,Price,Product - Cat 1,Product - Cat 2,Product - Cat 3,Stand Type,Branded/Non-Branded,avgPurchase,segment
5,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,79,1738.00,22.00,Retail,Retail,Souvenir,Bar,Branded,0.006582,0
30,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,79,790.00,10.00,Retail,Retail,Souvenir,Portable,Non-Branded,0.006582,0
52,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,73,730.00,10.00,Retail,Retail,Souvenir,Stand,Non-Branded,0.006082,0
54,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,92,920.00,10.00,Retail,Retail,Souvenir,Stand,Non-Branded,0.007665,0
60,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,84,840.00,10.00,Retail,Retail,Souvenir,Stand,Non-Branded,0.006998,0
70,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,netsuite,3,584.85,194.95,Retail,Retail,Regular,Other,Other,0.000250,0
72,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,netsuite,9,1754.55,194.95,Retail,Retail,Regular,Other,Other,0.000750,0
73,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,netsuite,7,1364.65,194.95,Retail,Retail,Regular,Other,Other,0.000583,0
74,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,netsuite,5,974.75,194.95,Retail,Retail,Regular,Other,Other,0.000417,0
75,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,netsuite,5,974.75,194.95,Retail,Retail,Regular,Other,Other,0.000417,0

In [89]:
dfbsReCo[dfbsReCo['segment'] == 1].head(10)

,F&B,Retail.x,CR,Revenue,Attd.,F&B PC,Ret PC,CR PC,Total PC,source_system,qty,amount,Price,Product - Cat 1,Product - Cat 2,Product - Cat 3,Stand Type,Branded/Non-Branded,avgPurchase,segment
245,222766.89,13033.67,2777.49,238578.05,9386.0,23.733954,1.388629,0.295918,25.418501,netsuite,16,3119.20,194.95,Retail,Retail,Regular,Other,Other,0.001705,1
246,222766.89,13033.67,2777.49,238578.05,9386.0,23.733954,1.388629,0.295918,25.418501,netsuite,18,3509.10,194.95,Retail,Retail,Regular,Other,Other,0.001918,1
247,222766.89,13033.67,2777.49,238578.05,9386.0,23.733954,1.388629,0.295918,25.418501,netsuite,12,2339.40,194.95,Retail,Retail,Regular,Other,Other,0.001278,1
248,222766.89,13033.67,2777.49,238578.05,9386.0,23.733954,1.388629,0.295918,25.418501,netsuite,13,2534.35,194.95,Retail,Retail,Regular,Other,Other,0.001385,1
251,222766.89,13033.67,2777.49,238578.05,9386.0,23.733954,1.388629,0.295918,25.418501,netsuite,13,2534.35,194.95,Retail,Retail,Regular,Other,Other,0.001385,1
381,194762.73,14801.47,2753.93,212318.13,13012.0,14.967932,1.137525,0.211645,16.317102,netsuite,14,2729.30,194.95,Retail,Retail,Regular,Other,Other,0.001076,1
382,194762.73,14801.47,2753.93,212318.13,13012.0,14.967932,1.137525,0.211645,16.317102,netsuite,21,4093.95,194.95,Retail,Retail,Regular,Other,Other,0.001614,1
452,194762.73,14801.47,2753.93,212318.13,13012.0,14.967932,1.137525,0.211645,16.317102,netsuite,11,3079.45,279.95,Retail,Retail,Regular,Other,Other,0.000845,1
466,193879.96,6714.84,3414.67,204009.47,16780.0,11.554229,0.400169,0.203496,12.157895,appetize,122,2684.00,22.00,Retail,Retail,Souvenir,Bar,Branded,0.007271,1
782,132427.30,27931.78,1881.18,162240.26,8469.0,15.636710,3.29812,0.222125,19.156956,netsuite,13,2534.35,194.95,Retail,Retail,Regular,Other,Other,0.001535,1

In [90]:
dfbsReCo[dfbsReCo['segment'] == 2].head(10)

,F&B,Retail.x,CR,Revenue,Attd.,F&B PC,Ret PC,CR PC,Total PC,source_system,qty,amount,Price,Product - Cat 1,Product - Cat 2,Product - Cat 3,Stand Type,Branded/Non-Branded,avgPurchase,segment
0,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,1,1.0,1.0,Retail,Retail,Regular,Bar,Non-Branded,0.000083,2
1,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,1,6.0,6.0,Retail,Retail,Large,Bar,Branded,0.000083,2
2,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,2,10.0,5.0,Retail,Retail,Small,Bar,Branded,0.000167,2
3,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,1,6.0,6.0,Retail,Retail,Large,Bar,Branded,0.000083,2
4,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,9,54.0,6.0,Retail,Retail,Large,Bar,Branded,0.000750,2
6,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,1,6.0,6.0,Retail,Retail,Large,Bar,Branded,0.000083,2
7,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,3,18.0,6.0,Retail,Retail,Large,Other,Other,0.000250,2
8,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,3,15.0,5.0,Retail,Retail,Small,Other,Other,0.000250,2
9,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,4,24.0,6.0,Retail,Retail,Large,Bar,Branded,0.000333,2
10,263509.53,16684.34,3893.17,284087.04,12003.0,21.953639,1.390014,0.32435,23.668003,appetize,15,112.5,7.5,Retail,Retail,Souvenir,Bar,Branded,0.001250,2