In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("MergedFromRDS.csv", encoding = "Latin-1")

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (5,6,10,11,19,46,51,52,53) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.head()

,Unnamed: 0,Date,Activity,Event Name,F&B,Retail.x,CR,Revenue,Attd.,F&B PC,...,...32,...33,Team,Location,Stand Type,Service Style,Branded/Non-Branded,Retail.y,Section,Concept
0,1,2021-09-09,CONCT,Blake Shelton,263509.53,16684.3,3893.17,284087.04,12003.0,21.953639,...,NaN,NaN,Nashville Predators,Concessions,Bar,Standard,Branded,No,NaN,NaN
1,2,2021-09-09,CONCT,Blake Shelton,263509.53,16684.3,3893.17,284087.04,12003.0,21.953639,...,NaN,NaN,Nashville Predators,Concessions,Bar,Standard,Branded,No,NaN,NaN
2,3,2021-09-09,CONCT,Blake Shelton,263509.53,16684.3,3893.17,284087.04,12003.0,21.953639,...,NaN,NaN,Nashville Predators,Concessions,Bar,Standard,Branded,No,NaN,NaN
3,4,2021-09-09,CONCT,Blake Shelton,263509.53,16684.3,3893.17,284087.04,12003.0,21.953639,...,NaN,NaN,Nashville Predators,Concessions,Bar,Standard,Branded,No,NaN,NaN
4,5,2021-09-09,CONCT,Blake Shelton,263509.53,16684.3,3893.17,284087.04,12003.0,21.953639,...,NaN,NaN,Nashville Predators,Concessions,Bar,Standard,Branded,No,NaN,NaN

In [4]:
df = df.drop(columns = 'Unnamed: 0')

In [5]:
df1 = df.drop(['...26', '...27', '...28',
       '...29', '...30', '...31', '...32', '...33'], 1)

In [6]:
df1.head()

,Date,Activity,Event Name,F&B,Retail.x,CR,Revenue,Attd.,F&B PC,Ret PC,...,Product - Cat 3,Product - Cat 4,Team,Location,Stand Type,Service Style,Branded/Non-Branded,Retail.y,Section,Concept
0,2021-09-09,CONCT,Blake Shelton,263509.53,16684.3,3893.17,284087.04,12003.0,21.953639,1.39001,...,16 Ounces,No Cat,Nashville Predators,Concessions,Bar,Standard,Branded,No,NaN,NaN
1,2021-09-09,CONCT,Blake Shelton,263509.53,16684.3,3893.17,284087.04,12003.0,21.953639,1.39001,...,16 Ounces,No Cat,Nashville Predators,Concessions,Bar,Standard,Branded,No,NaN,NaN
2,2021-09-09,CONCT,Blake Shelton,263509.53,16684.3,3893.17,284087.04,12003.0,21.953639,1.39001,...,20 Ounces,No Cat,Nashville Predators,Concessions,Bar,Standard,Branded,No,NaN,NaN
3,2021-09-09,CONCT,Blake Shelton,263509.53,16684.3,3893.17,284087.04,12003.0,21.953639,1.39001,...,24 Ounces,No Cat,Nashville Predators,Concessions,Bar,Standard,Branded,No,NaN,NaN
4,2021-09-09,CONCT,Blake Shelton,263509.53,16684.3,3893.17,284087.04,12003.0,21.953639,1.39001,...,24 Ounces,No Cat,Nashville Predators,Concessions,Bar,Standard,Branded,No,NaN,NaN

In [7]:
df1.columns

Index(['Date', 'Activity', 'Event Name', 'F&B', 'Retail.x', 'CR', 'Revenue',
       'Attd.', 'F&B PC', 'Ret PC', 'CR PC', 'Total PC', 'TH_Loc',
       'location_id', 'cost_center_name', 'source_system', 'item_name',
       'item_id', 'is_tax_exempt', 'qty', 'amount', 'Transaction Check',
       'Price', 'Item Cost', 'Season', 'Event - Type Category',
       'Event - Category', 'Game Tier', 'Location - Category',
       'Location - Sub-Category', 'Location - Concept', 'Location - Brand',
       'Product - Cat 0', 'Product - Cat 1', 'Product - Cat 2',
       'Product - Cat 3', 'Product - Cat 4', 'Team', 'Location', 'Stand Type',
       'Service Style', 'Branded/Non-Branded', 'Retail.y', 'Section',
       'Concept'],
      dtype='object')

In [8]:
df1['Retail.y'].isna().sum()

243367

In [9]:
df1['Retail.y'].unique()

array(['No', nan, 'yes', 'Yes', 'no', 'NO'], dtype=object)

In [10]:
df1['Branded/Non-Branded'].value_counts()

Non-Branded        539386
Branded            160670
Branded Partner     42009
In House Brand      12952
market               1330
Name: Branded/Non-Branded, dtype: int64

In [13]:
df1.Activity.unique()

array(['CONCT', 'ICESH', 'NHLPR', 'WREST', 'NHLRG', 'RELGN', 'MUSAW',
       'COMIC', 'EVENT', 'ICECO', 'MOTOR', 'CBKPT', 'FMILY', 'NFLPR',
       'NFLRG', 'NFLPO', 'CFBOT', 'MLBRG', nan, 'TENNS', 'NBAPR', 'NBARG',
       'TOURN', 'HKYOT', 'CHKOT', 'NBAPT'], dtype=object)

In [14]:
df2 = df1.drop(['Event Name','location_id','cost_center_name','Transaction Check','Season','Event - Type Category','Event - Category','Game Tier','Location - Category','Location - Sub-Category','Location - Concept','Location - Brand','Team','Section'], 1)

In [15]:
df2.head()

,Date,Activity,F&B,Retail.x,CR,Revenue,Attd.,F&B PC,Ret PC,CR PC,...,Product - Cat 1,Product - Cat 2,Product - Cat 3,Product - Cat 4,Location,Stand Type,Service Style,Branded/Non-Branded,Retail.y,Concept
0,2021-09-09,CONCT,263509.53,16684.3,3893.17,284087.04,12003.0,21.953639,1.39001,0.32435,...,Bottled,Energy Drink,16 Ounces,No Cat,Concessions,Bar,Standard,Branded,No,NaN
1,2021-09-09,CONCT,263509.53,16684.3,3893.17,284087.04,12003.0,21.953639,1.39001,0.32435,...,Packaged,Premium,16 Ounces,No Cat,Concessions,Bar,Standard,Branded,No,NaN
2,2021-09-09,CONCT,263509.53,16684.3,3893.17,284087.04,12003.0,21.953639,1.39001,0.32435,...,Bottled,Water,20 Ounces,No Cat,Concessions,Bar,Standard,Branded,No,NaN
3,2021-09-09,CONCT,263509.53,16684.3,3893.17,284087.04,12003.0,21.953639,1.39001,0.32435,...,Packaged,Domestic,24 Ounces,No Cat,Concessions,Bar,Standard,Branded,No,NaN
4,2021-09-09,CONCT,263509.53,16684.3,3893.17,284087.04,12003.0,21.953639,1.39001,0.32435,...,Packaged,Domestic,24 Ounces,No Cat,Concessions,Bar,Standard,Branded,No,NaN

In [16]:
df2['Retail.y'] = df2['Retail.y'].str.upper()

In [17]:
df2.head()

,Date,Activity,F&B,Retail.x,CR,Revenue,Attd.,F&B PC,Ret PC,CR PC,...,Product - Cat 1,Product - Cat 2,Product - Cat 3,Product - Cat 4,Location,Stand Type,Service Style,Branded/Non-Branded,Retail.y,Concept
0,2021-09-09,CONCT,263509.53,16684.3,3893.17,284087.04,12003.0,21.953639,1.39001,0.32435,...,Bottled,Energy Drink,16 Ounces,No Cat,Concessions,Bar,Standard,Branded,NO,NaN
1,2021-09-09,CONCT,263509.53,16684.3,3893.17,284087.04,12003.0,21.953639,1.39001,0.32435,...,Packaged,Premium,16 Ounces,No Cat,Concessions,Bar,Standard,Branded,NO,NaN
2,2021-09-09,CONCT,263509.53,16684.3,3893.17,284087.04,12003.0,21.953639,1.39001,0.32435,...,Bottled,Water,20 Ounces,No Cat,Concessions,Bar,Standard,Branded,NO,NaN
3,2021-09-09,CONCT,263509.53,16684.3,3893.17,284087.04,12003.0,21.953639,1.39001,0.32435,...,Packaged,Domestic,24 Ounces,No Cat,Concessions,Bar,Standard,Branded,NO,NaN
4,2021-09-09,CONCT,263509.53,16684.3,3893.17,284087.04,12003.0,21.953639,1.39001,0.32435,...,Packaged,Domestic,24 Ounces,No Cat,Concessions,Bar,Standard,Branded,NO,NaN

In [18]:
dfTd = df2.loc[df['TH_Loc'] == 'TD']

In [19]:
df2.TH_Loc.unique()

array(['Bridgestone', 'Highmark', 'Metlife', 'Petco', 'TD'], dtype=object)

In [20]:
dfTd.head()

,Date,Activity,F&B,Retail.x,CR,Revenue,Attd.,F&B PC,Ret PC,CR PC,...,Product - Cat 1,Product - Cat 2,Product - Cat 3,Product - Cat 4,Location,Stand Type,Service Style,Branded/Non-Branded,Retail.y,Concept
547168,2021-09-13,WREST,175409.7,0,1051.66,176461.3,7788.0,22.52307,0,0.135036,...,Packaged,Domestic,16 Ounces,No Cat,Concessions,Portable,Standard,Branded,NO,Grab n Go
547169,2021-09-13,WREST,175409.7,0,1051.66,176461.3,7788.0,22.52307,0,0.135036,...,Packaged,Premium,16 Ounces,No Cat,Concessions,Portable,Standard,Branded,NO,Grab n Go
547170,2021-09-13,WREST,175409.7,0,1051.66,176461.3,7788.0,22.52307,0,0.135036,...,Packaged,Craft,16 Ounces,No Cat,Concessions,Portable,Standard,Branded,NO,Grab n Go
547171,2021-09-13,WREST,175409.7,0,1051.66,176461.3,7788.0,22.52307,0,0.135036,...,Packaged,Premium,16 Ounces,No Cat,Concessions,Portable,Standard,Branded,NO,Grab n Go
547172,2021-09-13,WREST,175409.7,0,1051.66,176461.3,7788.0,22.52307,0,0.135036,...,Packaged,Craft,16 Ounces,No Cat,Concessions,Portable,Standard,Branded,NO,Grab n Go

In [21]:
dfTd.Activity.unique()

array(['WREST', 'TENNS', 'NHLPR', 'CONCT', 'NBAPR', 'NHLRG', 'FMILY',
       'NBARG', 'TOURN', 'ICESH', 'HKYOT', 'CHKOT', 'NBAPT'], dtype=object)

In [22]:
dfTd.isna().sum().sum()

361617

In [23]:
dfTd.columns

Index(['Date', 'Activity', 'F&B', 'Retail.x', 'CR', 'Revenue', 'Attd.',
       'F&B PC', 'Ret PC', 'CR PC', 'Total PC', 'TH_Loc', 'source_system',
       'item_name', 'item_id', 'is_tax_exempt', 'qty', 'amount', 'Price',
       'Item Cost', 'Product - Cat 0', 'Product - Cat 1', 'Product - Cat 2',
       'Product - Cat 3', 'Product - Cat 4', 'Location', 'Stand Type',
       'Service Style', 'Branded/Non-Branded', 'Retail.y', 'Concept'],
      dtype='object')

In [24]:
dfTd1 = dfTd.copy()

In [25]:
dfTd1['Branded/Non-Branded'] = dfTd1['Branded/Non-Branded'].fillna('Other')

In [26]:
dfTd1['Stand Type'] = dfTd1['Stand Type'].fillna('Other')

In [27]:
dfTd1.Activity.unique()

array(['WREST', 'TENNS', 'NHLPR', 'CONCT', 'NBAPR', 'NHLRG', 'FMILY',
       'NBARG', 'TOURN', 'ICESH', 'HKYOT', 'CHKOT', 'NBAPT'], dtype=object)

In [28]:
dfTdAlIc1 = dfTd1.loc[(dfTd1['Activity'] == 'ICESH') & (dfTd1['Product - Cat 0'] == "Alcohol")] 
dfTdAlTn1 = dfTd1.loc[(dfTd1['Activity'] == 'TENNS') & (dfTd1['Product - Cat 0'] == "Alcohol")]

In [29]:
dfTdAlIc1.reset_index(inplace = True)
dfTdAlTn1.reset_index(inplace = True)

In [30]:
dfTdAlIc1.head()

,index,Date,Activity,F&B,Retail.x,CR,Revenue,Attd.,F&B PC,Ret PC,...,Product - Cat 1,Product - Cat 2,Product - Cat 3,Product - Cat 4,Location,Stand Type,Service Style,Branded/Non-Branded,Retail.y,Concept
0,753584,2022-02-23,ICESH,41562.2,0,0,41562.2,4784.0,8.687751,0,...,Non-Beer,Seltzer,16 Ounces,No Cat,Concessions,Stand,Standard,Non-Branded,NO,Hot Dog
1,753589,2022-02-23,ICESH,41562.2,0,0,41562.2,4784.0,8.687751,0,...,Non-Beer,Wine,Regular,No Cat,Concessions,Stand,Standard,Non-Branded,NO,Hot Dog
2,753595,2022-02-23,ICESH,41562.2,0,0,41562.2,4784.0,8.687751,0,...,Draft,Domestic,Large,No Cat,Concessions,Stand,Standard,Non-Branded,NO,Hot Dog
3,753596,2022-02-23,ICESH,41562.2,0,0,41562.2,4784.0,8.687751,0,...,Draft,Premium,Large,No Cat,Concessions,Stand,Standard,Non-Branded,NO,Hot Dog
4,753600,2022-02-23,ICESH,41562.2,0,0,41562.2,4784.0,8.687751,0,...,Non-Beer,Wine,Regular,No Cat,Concessions,Stand,Standard,Non-Branded,NO,Hot Dog

In [31]:
dfTdAlTn1.head()

,index,Date,Activity,F&B,Retail.x,CR,Revenue,Attd.,F&B PC,Ret PC,...,Product - Cat 1,Product - Cat 2,Product - Cat 3,Product - Cat 4,Location,Stand Type,Service Style,Branded/Non-Branded,Retail.y,Concept
0,547731,2021-09-24,TENNS,611381.9,0,53438.8,664820.7,18535.0,32.98527,0,...,Non-Beer,Premium,16 Ounces,No Cat,Concessions,Portable,Standard,Branded,NO,Grab n Go
1,547732,2021-09-24,TENNS,611381.9,0,53438.8,664820.7,18535.0,32.98527,0,...,Packaged,Domestic,16 Ounces,No Cat,Concessions,Portable,Standard,Branded,NO,Grab n Go
2,547733,2021-09-24,TENNS,611381.9,0,53438.8,664820.7,18535.0,32.98527,0,...,Packaged,Domestic,16 Ounces,No Cat,Concessions,Portable,Standard,Branded,NO,Grab n Go
3,547734,2021-09-24,TENNS,611381.9,0,53438.8,664820.7,18535.0,32.98527,0,...,Packaged,Domestic,16 Ounces,No Cat,Concessions,Portable,Standard,Branded,NO,Grab n Go
4,547735,2021-09-24,TENNS,611381.9,0,53438.8,664820.7,18535.0,32.98527,0,...,Packaged,Craft,16 Ounces,No Cat,Concessions,Portable,Standard,Branded,NO,Grab n Go

In [32]:
dfTdAlIc1['avgPurchase'] = dfTdAlIc1['qty'] /dfTdAlIc1['Attd.']
dfTdAlTn1['avgPurchase'] = dfTdAlTn1['qty'] /dfTdAlTn1['Attd.']

<ipython-input-32-eb457f5d6e30>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfTdAlIc1['avgPurchase'] = dfTdAlIc1['qty'] /dfTdAlIc1['Attd.']
<ipython-input-32-eb457f5d6e30>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfTdAlTn1['avgPurchase'] = dfTdAlTn1['qty'] /dfTdAlTn1['Attd.']

In [33]:
dftdAlIc = dfTdAlIc1.drop(['index','Item Cost','Product - Cat 0','Concept','is_tax_exempt','Activity','Date','TH_Loc','item_id','item_name','Product - Cat 4','Location','Service Style','Retail.y'],axis =1)
dftdAlTn = dfTdAlTn1.drop(['index','Item Cost','Product - Cat 0','Concept','is_tax_exempt','Activity','Date','TH_Loc','item_id','item_name','Product - Cat 4','Location','Service Style','Retail.y'],axis =1)

In [34]:
dftdAlIc1  = dftdAlIc.copy()
dftdAlTn1 = dftdAlTn.copy()

In [35]:
dftdAlIc1['Product - Cat 3'].value_counts()

Regular      269
16 Ounces     82
Large         74
24 Ounces     18
12 Ounces     18
25 Ounces      8
187ml          7
Small          7
Name: Product - Cat 3, dtype: int64

In [36]:
dftdAlTn1['Product - Cat 3'].value_counts()

Regular        611
16 Ounces      193
Large          117
375 ml          79
24 Ounces       46
12 Ounces       27
25 Ounces       23
6 Ounces        20
187ml           17
9 Ounces        15
Small            4
Medium           3
14.9 Ounces      1
Name: Product - Cat 3, dtype: int64

In [37]:
dftdAlIc1 = dftdAlIc1.drop(['F&B', 'Retail.x', 'CR', 'Revenue', 'Attd.', 'F&B PC', 'Ret PC','CR PC', 'Total PC'], axis =1)
dftdAlTn1 = dftdAlTn1.drop(['F&B', 'Retail.x', 'CR', 'Revenue', 'Attd.', 'F&B PC', 'Ret PC','CR PC', 'Total PC'], axis =1)

In [38]:
dftdAlIc1['Product - Cat 3'] = ['Small' if ( x == '187ml' or x == 'Small' or x == '12 Ounces' ) else 'Regular' if ( x == 'Regular'  or x == '16 Ounces') else 'Large' for x in dftdAlIc1['Product - Cat 3']]
dftdAlTn1['Product - Cat 3'] = ['Small' if ( x == '187ml' or x == '375 ml' or x == 'Small' or x == '12 Ounces' or x == '6 Ounces' or x == '14.9 Ounces') else 'Regular' if ( x == 'Regular'  or x == '16 Ounces' or x == 'Medium') else 'Large' for x in dftdAlTn1['Product - Cat 3']]

In [39]:
dftdAlIc1.isna().sum().sum()

0

In [40]:
dftdAlTn1.isna().sum().sum()

0

In [41]:
from kmodes.kprototypes import KPrototypes

In [43]:
dftdAlIc1.head()

,source_system,qty,amount,Price,Product - Cat 1,Product - Cat 2,Product - Cat 3,Stand Type,Branded/Non-Branded,avgPurchase
0,appetize,33,363.00,11.00,Non-Beer,Seltzer,Regular,Stand,Non-Branded,0.006898
1,appetize,1,11.75,11.75,Non-Beer,Wine,Regular,Stand,Non-Branded,0.000209
2,appetize,42,619.50,14.75,Draft,Domestic,Large,Stand,Non-Branded,0.008779
3,appetize,44,649.00,14.75,Draft,Premium,Large,Stand,Non-Branded,0.009197
4,appetize,1,11.75,11.75,Non-Beer,Wine,Regular,Stand,Non-Branded,0.000209

In [44]:
dftdAlTn1.head()

,source_system,qty,amount,Price,Product - Cat 1,Product - Cat 2,Product - Cat 3,Stand Type,Branded/Non-Branded,avgPurchase
0,appetize,26,312.00,12.00,Non-Beer,Premium,Regular,Portable,Branded,0.001403
1,appetize,115,1293.75,11.25,Packaged,Domestic,Regular,Portable,Branded,0.006204
2,appetize,25,281.25,11.25,Packaged,Domestic,Regular,Portable,Branded,0.001349
3,appetize,72,810.00,11.25,Packaged,Domestic,Regular,Portable,Branded,0.003885
4,appetize,129,1548.00,12.00,Packaged,Craft,Regular,Portable,Branded,0.006960

In [45]:
mark_arrays_AlcoholTennis = dftdAlTn1.values
mark_arrays_AlcoholICESH = dftdAlIc1.values

In [46]:
mark_arrays_AlcoholTennis[:,1] = mark_arrays_AlcoholTennis[:,1].astype(float)
mark_arrays_AlcoholTennis[:,2] = mark_arrays_AlcoholTennis[:,2].astype(float)
mark_arrays_AlcoholTennis[:,3] = mark_arrays_AlcoholTennis[:,3].astype(float)
mark_arrays_AlcoholTennis[:,9] = mark_arrays_AlcoholTennis[:,9].astype(float)

In [47]:
mark_arrays_AlcoholICESH[:,1] = mark_arrays_AlcoholICESH[:,1].astype(float)
mark_arrays_AlcoholICESH[:,2] = mark_arrays_AlcoholICESH[:,2].astype(float)
mark_arrays_AlcoholICESH[:,3] = mark_arrays_AlcoholICESH[:,3].astype(float)
mark_arrays_AlcoholICESH[:,9] = mark_arrays_AlcoholICESH[:,9].astype(float)

In [48]:
mark_arrays_AlcoholTennis

array([['appetize', 26.0, 312.0, ..., 'Portable', 'Branded',
        0.0014027515511195036],
       ['appetize', 115.0, 1293.75, ..., 'Portable', 'Branded',
        0.006204478014567035],
       ['appetize', 25.0, 281.25, ..., 'Portable', 'Branded',
        0.001348799568384138],
       ...,
       ['halo', 1.0, 140.0, ..., 'Other', 'Non-Branded',
        9.036688957166094e-05],
       ['halo', 1.0, 154.0, ..., 'Other', 'Non-Branded',
        9.036688957166094e-05],
       ['halo', 8.0, 58.64, ..., 'Other', 'Non-Branded',
        0.0007229351165732876]], dtype=object)

In [49]:
kproto = KPrototypes(n_clusters=3 , verbose = 2 , max_iter = 20) 
clusters = kproto.fit_predict(mark_arrays_AlcoholTennis,categorical=[0,4,5,6,7,8])

Initialization method and algorithm are deterministic. Setting n_init to 1.
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/20, moves: 53, ncost: 62007432.87588887
Run: 1, iteration: 2/20, moves: 24, ncost: 58307617.51230519
Run: 1, iteration: 3/20, moves: 26, ncost: 53258592.810048826
Run: 1, iteration: 4/20, moves: 7, ncost: 52577393.958632424
Run: 1, iteration: 5/20, moves: 4, ncost: 52475845.262078665
Run: 1, iteration: 6/20, moves: 1, ncost: 52471935.82654994
Run: 1, iteration: 7/20, moves: 1, ncost: 52469504.756243475
Run: 1, iteration: 8/20, moves: 0, ncost: 52469504.756243475
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/20, moves: 183, ncost: 76153557.88120739
Run: 2, iteration: 2/20, moves: 121, ncost: 65207343.98271408
Run: 2, iteration: 3/20, moves: 68, ncost: 60584352.97082803
Run: 2, iteration: 4/20, moves: 32, ncost: 56325250.874859616
Run: 2, iteration: 5/20, moves: 23, ncost: 52996862.067319654
Run: 2, iteration: 6/20, moves: 9, ncost: 52475845.262078665
Run: 2, iteration: 7/20, moves: 1, ncost: 52471935.82654994
Run: 2, iteration: 8/20, moves: 1, ncost: 52469504.756243475
Run: 2, iteration: 9/20, moves: 0, ncost: 52469504.756243475
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/20, moves: 494, ncost: 92492449.74864966
Run: 3, iteration: 2/20, moves: 231, ncost: 72592159.39412132
Run: 3, iteration: 3/20, moves: 110, ncost: 63951585.669183426
Run: 3, iteration: 4/20, moves: 60, ncost: 60288754.412931405
Run: 3, iteration: 5/20, moves: 29, ncost: 56206780.36213553
Run: 3, iteration: 6/20, moves: 21, ncost: 52996862.067319654
Run: 3, iteration: 7/20, moves: 9, ncost: 52475845.262078665
Run: 3, iteration: 8/20, moves: 1, ncost: 52471935.82654994
Run: 3, iteration: 9/20, moves: 1, ncost: 52469504.756243475
Run: 3, iteration: 10/20, moves: 0, ncost: 52469504.756243475
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 4, iteration: 1/20, moves: 64, ncost: 53405743.276495695
Run: 4, iteration: 2/20, moves: 8, ncost: 52718064.000919774
Run: 4, iteration: 3/20, moves: 5, ncost: 52475845.262078665
Run: 4, iteration: 4/20, moves: 1, ncost: 52471935.82654994
Run: 4, iteration: 5/20, moves: 1, ncost: 52469504.756243475
Run: 4, iteration: 6/20, moves: 0, ncost: 52469504.756243475
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 5, iteration: 1/20, moves: 138, ncost: 87455484.17825876
Run: 5, iteration: 2/20, moves: 135, ncost: 69547848.7240438
Run: 5, iteration: 3/20, moves: 82, ncost: 62712056.171604164
Run: 5, iteration: 4/20, moves: 40, ncost: 59548635.19794599
Run: 5, iteration: 5/20, moves: 28, ncost: 55063425.11107978
Run: 5, iteration: 6/20, moves: 15, ncost: 52744541.573803276
Run: 5, iteration: 7/20, moves: 7, ncost: 52475845.262078665
Run: 5, iteration: 8/20, moves: 1, ncost: 52471935.82654994
Run: 5, iteration: 9/20, moves: 1, ncost: 52469504.756243475
Run: 5, iteration: 10/20, moves: 0, ncost: 52469504.756243475
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 6, iteration: 1/20, moves: 68, ncost: 60578029.27533644
Run: 6, iteration: 2/20, moves: 20, ncost: 55884112.355559506
Run: 6, iteration: 3/20, moves: 15, ncost: 52996862.067319654
Run: 6, iteration: 4/20, moves: 9, ncost: 52475845.262078665
Run: 6, iteration: 5/20, moves: 1, ncost: 52471935.82654994
Run: 6, iteration: 6/20, moves: 1, ncost: 52469504.756243475
Run: 6, iteration: 7/20, moves: 0, ncost: 52469504.756243475
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 7, iteration: 1/20, moves: 480, ncost: 116677313.12525082
Run: 7, iteration: 2/20, moves: 243, ncost: 87860199.05647154
Run: 7, iteration: 3/20, moves: 159, ncost: 69744696.40537287
Run: 7, iteration: 4/20, moves: 84, ncost: 62847565.73475307
Run: 7, iteration: 5/20, moves: 42, ncost: 59595082.00810855
Run: 7, iteration: 6/20, moves: 29, ncost: 55063425.11107979
Run: 7, iteration: 7/20, moves: 15, ncost: 52744541.573803276
Run: 7, iteration: 8/20, moves: 7, ncost: 52475845.26207864
Run: 7, iteration: 9/20, moves: 1, ncost: 52471935.82654994
Run: 7, iteration: 10/20, moves: 1, ncost: 52469504.75624347
Run: 7, iteration: 11/20, moves: 0, ncost: 52469504.75624347
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 8, iteration: 1/20, moves: 320, ncost: 85016218.81190588
Run: 8, iteration: 2/20, moves: 163, ncost: 69857457.2738288
Run: 8, iteration: 3/20, moves: 87, ncost: 62847565.73475309
Run: 8, iteration: 4/20, moves: 42, ncost: 59595082.008108534
Run: 8, iteration: 5/20, moves: 29, ncost: 55063425.11107978
Run: 8, iteration: 6/20, moves: 15, ncost: 52744541.573803276
Run: 8, iteration: 7/20, moves: 7, ncost: 52475845.262078665
Run: 8, iteration: 8/20, moves: 1, ncost: 52471935.82654994
Run: 8, iteration: 9/20, moves: 1, ncost: 52469504.756243475
Run: 8, iteration: 10/20, moves: 0, ncost: 52469504.756243475
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 9, iteration: 1/20, moves: 67, ncost: 60505397.963503465
Run: 9, iteration: 2/20, moves: 19, ncost: 55460003.3933305
Run: 9, iteration: 3/20, moves: 16, ncost: 52744541.573803276
Run: 9, iteration: 4/20, moves: 7, ncost: 52475845.262078665
Run: 9, iteration: 5/20, moves: 1, ncost: 52471935.82654994
Run: 9, iteration: 6/20, moves: 1, ncost: 52469504.756243475
Run: 9, iteration: 7/20, moves: 0, ncost: 52469504.756243475
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 10, iteration: 1/20, moves: 72, ncost: 65161105.97896552
Run: 10, iteration: 2/20, moves: 62, ncost: 60584352.97082803
Run: 10, iteration: 3/20, moves: 32, ncost: 56325250.874859616
Run: 10, iteration: 4/20, moves: 23, ncost: 52996862.067319654
Run: 10, iteration: 5/20, moves: 9, ncost: 52475845.262078665
Run: 10, iteration: 6/20, moves: 1, ncost: 52471935.82654994
Run: 10, iteration: 7/20, moves: 1, ncost: 52469504.756243475
Run: 10, iteration: 8/20, moves: 0, ncost: 52469504.756243475
Best run was number 7

In [50]:
print(kproto.cluster_centroids_)

[['69.12244897959184' '1047.0051020408162' '16.64030612244898'
  '0.0036365822535830705' 'appetize' 'Draft' 'Domestic' 'Large' 'Stand'
  'Non-Branded']
 ['7.355769230769231' '113.03372115384616' '21.099625'
  '0.00042466034099175885' 'appetize' 'Non-Beer' 'Wine' 'Regular' 'Bar'
  'Non-Branded']
 ['192.88888888888889' '3172.7638888888887' '16.375'
  '0.009863699844858178' 'appetize' 'Draft' 'Craft' 'Large' 'Bar'
  'Non-Branded']]

In [51]:
cluster_dict = []
for c in clusters:
    cluster_dict.append(c)

In [52]:
dftdAlTn['segment'] = cluster_dict

In [53]:
dftdAlTn[dftdAlTn['segment'] == 0].head(10)

,F&B,Retail.x,CR,Revenue,Attd.,F&B PC,Ret PC,CR PC,Total PC,source_system,qty,amount,Price,Product - Cat 1,Product - Cat 2,Product - Cat 3,Stand Type,Branded/Non-Branded,avgPurchase,segment
1,611381.9,0,53438.8,664820.7,18535.0,32.98527,0,2.88313,35.86839,appetize,115,1293.75,11.25,Packaged,Domestic,16 Ounces,Portable,Branded,0.006204,0
3,611381.9,0,53438.8,664820.7,18535.0,32.98527,0,2.88313,35.86839,appetize,72,810.00,11.25,Packaged,Domestic,16 Ounces,Portable,Branded,0.003885,0
4,611381.9,0,53438.8,664820.7,18535.0,32.98527,0,2.88313,35.86839,appetize,129,1548.00,12.00,Packaged,Craft,16 Ounces,Portable,Branded,0.006960,0
8,611381.9,0,53438.8,664820.7,18535.0,32.98527,0,2.88313,35.86839,appetize,74,888.00,12.00,Packaged,Craft,16 Ounces,Portable,Branded,0.003992,0
9,611381.9,0,53438.8,664820.7,18535.0,32.98527,0,2.88313,35.86839,appetize,141,1692.00,12.00,Non-Beer,Seltzer,16 Ounces,Portable,Branded,0.007607,0
13,611381.9,0,53438.8,664820.7,18535.0,32.98527,0,2.88313,35.86839,appetize,61,732.00,12.00,Packaged,Craft,16 Ounces,Portable,Branded,0.003291,0
14,611381.9,0,53438.8,664820.7,18535.0,32.98527,0,2.88313,35.86839,appetize,40,670.00,16.75,Non-Beer,Premium,24 Ounces,Portable,Branded,0.002158,0
15,611381.9,0,53438.8,664820.7,18535.0,32.98527,0,2.88313,35.86839,appetize,63,1055.25,16.75,Non-Beer,Seltzer,24 Ounces,Portable,Branded,0.003399,0
16,611381.9,0,53438.8,664820.7,18535.0,32.98527,0,2.88313,35.86839,appetize,109,1825.75,16.75,Non-Beer,Seltzer,24 Ounces,Portable,Branded,0.005881,0
18,611381.9,0,53438.8,664820.7,18535.0,32.98527,0,2.88313,35.86839,appetize,126,1984.50,15.75,Packaged,Domestic,25 Ounces,Portable,Branded,0.006798,0

In [54]:
dftdAlTn[dftdAlTn['segment'] == 1].head(10)

,F&B,Retail.x,CR,Revenue,Attd.,F&B PC,Ret PC,CR PC,Total PC,source_system,qty,amount,Price,Product - Cat 1,Product - Cat 2,Product - Cat 3,Stand Type,Branded/Non-Branded,avgPurchase,segment
0,611381.9,0,53438.8,664820.7,18535.0,32.98527,0,2.88313,35.86839,appetize,26,312.00,12.00,Non-Beer,Premium,16 Ounces,Portable,Branded,0.001403,1
2,611381.9,0,53438.8,664820.7,18535.0,32.98527,0,2.88313,35.86839,appetize,25,281.25,11.25,Packaged,Domestic,16 Ounces,Portable,Branded,0.001349,1
5,611381.9,0,53438.8,664820.7,18535.0,32.98527,0,2.88313,35.86839,appetize,1,12.00,12.00,Packaged,Craft,16 Ounces,Portable,Branded,0.000054,1
6,611381.9,0,53438.8,664820.7,18535.0,32.98527,0,2.88313,35.86839,appetize,14,157.50,11.25,Packaged,Premium,16 Ounces,Portable,Branded,0.000755,1
7,611381.9,0,53438.8,664820.7,18535.0,32.98527,0,2.88313,35.86839,appetize,1,12.00,12.00,Packaged,Craft,16 Ounces,Portable,Branded,0.000054,1
10,611381.9,0,53438.8,664820.7,18535.0,32.98527,0,2.88313,35.86839,appetize,14,220.50,15.75,Packaged,Domestic,24 Ounces,Portable,Branded,0.000755,1
11,611381.9,0,53438.8,664820.7,18535.0,32.98527,0,2.88313,35.86839,appetize,27,425.25,15.75,Packaged,Domestic,25 Ounces,Portable,Branded,0.001457,1
12,611381.9,0,53438.8,664820.7,18535.0,32.98527,0,2.88313,35.86839,appetize,48,576.00,12.00,Packaged,Craft,16 Ounces,Portable,Branded,0.002590,1
17,611381.9,0,53438.8,664820.7,18535.0,32.98527,0,2.88313,35.86839,appetize,17,267.75,15.75,Non-Beer,Premium,24 Ounces,Portable,Branded,0.000917,1
20,611381.9,0,53438.8,664820.7,18535.0,32.98527,0,2.88313,35.86839,appetize,5,78.75,15.75,Draft,Domestic,Large,Portable,Branded,0.000270,1

In [55]:
dftdAlTn[dftdAlTn['segment'] == 2].head(10)

,F&B,Retail.x,CR,Revenue,Attd.,F&B PC,Ret PC,CR PC,Total PC,source_system,qty,amount,Price,Product - Cat 1,Product - Cat 2,Product - Cat 3,Stand Type,Branded/Non-Branded,avgPurchase,segment
33,611381.9,0,53438.8,664820.7,18535.0,32.98527,0,2.88313,35.86839,appetize,185,3098.75,16.75,Draft,Craft,Large,Bar,Non-Branded,0.009981,2
52,611381.9,0,53438.8,664820.7,18535.0,32.98527,0,2.88313,35.86839,appetize,154,2579.50,16.75,Draft,Premium,Large,Stand,Non-Branded,0.008309,2
68,611381.9,0,53438.8,664820.7,18535.0,32.98527,0,2.88313,35.86839,appetize,332,5561.00,16.75,Draft,Craft,Large,Bar,Non-Branded,0.017912,2
72,611381.9,0,53438.8,664820.7,18535.0,32.98527,0,2.88313,35.86839,appetize,193,3039.75,15.75,Draft,Domestic,Large,Stand,Non-Branded,0.010413,2
89,611381.9,0,53438.8,664820.7,18535.0,32.98527,0,2.88313,35.86839,appetize,256,4288.00,16.75,Draft,Premium,Large,Bar,Non-Branded,0.013812,2
135,611381.9,0,53438.8,664820.7,18535.0,32.98527,0,2.88313,35.86839,appetize,207,3467.25,16.75,Draft,Craft,Large,Stand,Non-Branded,0.011168,2
185,611381.9,0,53438.8,664820.7,18535.0,32.98527,0,2.88313,35.86839,appetize,141,2220.75,15.75,Draft,Domestic,Large,Stand,Non-Branded,0.007607,2
468,632294.4,0,48496.9,680791.2,21707.0,29.12859,0,2.23416,31.36275,appetize,132,2211.00,16.75,Draft,Craft,Large,Bar,Non-Branded,0.006081,2
501,632294.4,0,48496.9,680791.2,21707.0,29.12859,0,2.23416,31.36275,appetize,204,3417.00,16.75,Draft,Craft,Large,Bar,Non-Branded,0.009398,2
505,632294.4,0,48496.9,680791.2,21707.0,29.12859,0,2.23416,31.36275,appetize,160,2520.00,15.75,Draft,Domestic,Large,Stand,Non-Branded,0.007371,2

In [56]:
mark_arrays_AlcoholICESH

array([['appetize', 33.0, 363.0, ..., 'Stand', 'Non-Branded',
        0.006897993311036789],
       ['appetize', 1.0, 11.75, ..., 'Stand', 'Non-Branded',
        0.00020903010033444816],
       ['appetize', 42.0, 619.5, ..., 'Stand', 'Non-Branded',
        0.008779264214046822],
       ...,
       ['halo', 1.0, 140.0, ..., 'Other', 'Non-Branded',
        8.19000819000819e-05],
       ['halo', 5.0, 240.0, ..., 'Other', 'Non-Branded',
        0.0004095004095004095],
       ['halo', 12.0, 87.96, ..., 'Other', 'Non-Branded',
        0.0009828009828009828]], dtype=object)

In [57]:
kproto = KPrototypes(n_clusters=3 , verbose = 2 , max_iter = 20) 
clusters = kproto.fit_predict(mark_arrays_AlcoholICESH,categorical=[0,4,5,6,7,8])

Initialization method and algorithm are deterministic. Setting n_init to 1.
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/20, moves: 33, ncost: 12383322.737704903
Run: 1, iteration: 2/20, moves: 29, ncost: 10147976.25523886
Run: 1, iteration: 3/20, moves: 8, ncost: 9896111.501410136
Run: 1, iteration: 4/20, moves: 0, ncost: 9896111.501410136
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/20, moves: 51, ncost: 12797673.435626961
Run: 2, iteration: 2/20, moves: 25, ncost: 10959693.517258579
Run: 2, iteration: 3/20, moves: 18, ncost: 9900993.42829836
Run: 2, iteration: 4/20, moves: 2, ncost: 9896111.501410136
Run: 2, iteration: 5/20, moves: 0, ncost: 9896111.501410136
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/20, moves: 41, ncost: 12749113.413144685
Run: 3, iteration: 2/20, moves: 23, ncost: 10959693.517258579
Run: 3, iteration: 3/20, moves: 18, ncost: 9900993.42829836
Run: 3, iteration: 4/20, moves: 2, ncost: 9896111.501410136
Run: 3, iteration: 5/20, moves: 0, ncost: 9896111.501410136
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 4, iteration: 1/20, moves: 56, ncost: 14295694.148752669
Run: 4, iteration: 2/20, moves: 42, ncost: 11313840.57805693
Run: 4, iteration: 3/20, moves: 23, ncost: 9974233.596739817
Run: 4, iteration: 4/20, moves: 5, ncost: 9896111.501410136
Run: 4, iteration: 5/20, moves: 0, ncost: 9896111.501410136
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 5, iteration: 1/20, moves: 21, ncost: 10891844.711956246
Run: 5, iteration: 2/20, moves: 13, ncost: 9897263.668721713
Run: 5, iteration: 3/20, moves: 1, ncost: 9896111.501410136
Run: 5, iteration: 4/20, moves: 0, ncost: 9896111.501410136
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 6, iteration: 1/20, moves: 74, ncost: 16766160.044951905
Run: 6, iteration: 2/20, moves: 59, ncost: 12788405.279475655
Run: 6, iteration: 3/20, moves: 29, ncost: 11030889.165821208
Run: 6, iteration: 4/20, moves: 21, ncost: 9900993.42829836
Run: 6, iteration: 5/20, moves: 2, ncost: 9896111.501410136
Run: 6, iteration: 6/20, moves: 0, ncost: 9896111.501410136
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 7, iteration: 1/20, moves: 50, ncost: 14068067.292095786
Run: 7, iteration: 2/20, moves: 38, ncost: 11284114.266596185
Run: 7, iteration: 3/20, moves: 22, ncost: 9974233.596739817
Run: 7, iteration: 4/20, moves: 5, ncost: 9896111.501410136
Run: 7, iteration: 5/20, moves: 0, ncost: 9896111.501410136
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 8, iteration: 1/20, moves: 72, ncost: 14321370.224040726
Run: 8, iteration: 2/20, moves: 43, ncost: 11313840.57805693
Run: 8, iteration: 3/20, moves: 23, ncost: 9974233.596739817
Run: 8, iteration: 4/20, moves: 5, ncost: 9896111.501410136
Run: 8, iteration: 5/20, moves: 0, ncost: 9896111.501410136
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 9, iteration: 1/20, moves: 52, ncost: 13973921.971177736
Run: 9, iteration: 2/20, moves: 34, ncost: 11284114.266596185
Run: 9, iteration: 3/20, moves: 22, ncost: 9974233.596739817
Run: 9, iteration: 4/20, moves: 5, ncost: 9896111.501410136
Run: 9, iteration: 5/20, moves: 0, ncost: 9896111.501410136
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 10, iteration: 1/20, moves: 32, ncost: 11594976.412826773
Run: 10, iteration: 2/20, moves: 23, ncost: 10130424.44717802
Run: 10, iteration: 3/20, moves: 7, ncost: 9896111.501410136
Run: 10, iteration: 4/20, moves: 0, ncost: 9896111.501410136
Best run was number 1

In [58]:
print(kproto.cluster_centroids_)

[['5.133507853403142' '70.37379581151832' '19.495842984293194'
  '0.0005303796756633634' 'appetize' 'Non-Beer' 'Wine' 'Regular' 'Stand'
  'Non-Branded']
 ['108.8' '1559.61' '14.47' '0.007837460022867728' 'appetize' 'Draft'
  'Domestic' 'Large' 'Stand' 'Non-Branded']
 ['43.6578947368421' '604.2697368421053' '15.516560789473685'
  '0.004206123319518387' 'appetize' 'Draft' 'Domestic' 'Large' 'Stand'
  'Non-Branded']]

In [59]:
cluster_dict = []
for c in clusters:
    cluster_dict.append(c)

In [61]:
dftdAlIc['segment'] = cluster_dict

In [62]:
dftdAlIc[dftdAlIc['segment'] == 0].head(10)

,F&B,Retail.x,CR,Revenue,Attd.,F&B PC,Ret PC,CR PC,Total PC,source_system,qty,amount,Price,Product - Cat 1,Product - Cat 2,Product - Cat 3,Stand Type,Branded/Non-Branded,avgPurchase,segment
1,41562.2,0,0,41562.2,4784.0,8.687751,0,0,8.687751,appetize,1,11.75,11.75,Non-Beer,Wine,Regular,Stand,Non-Branded,0.000209,0
4,41562.2,0,0,41562.2,4784.0,8.687751,0,0,8.687751,appetize,1,11.75,11.75,Non-Beer,Wine,Regular,Stand,Non-Branded,0.000209,0
6,41562.2,0,0,41562.2,4784.0,8.687751,0,0,8.687751,appetize,17,250.75,14.75,Draft,Domestic,Large,Stand,Non-Branded,0.003554,0
7,41562.2,0,0,41562.2,4784.0,8.687751,0,0,8.687751,appetize,7,82.25,11.75,Non-Beer,Wine,Regular,Stand,Branded,0.001463,0
8,41562.2,0,0,41562.2,4784.0,8.687751,0,0,8.687751,appetize,4,47.00,11.75,Non-Beer,Wine,Regular,Stand,Branded,0.000836,0
10,41562.2,0,0,41562.2,4784.0,8.687751,0,0,8.687751,appetize,17,250.75,14.75,Draft,Domestic,Large,Stand,Branded,0.003554,0
11,41562.2,0,0,41562.2,4784.0,8.687751,0,0,8.687751,appetize,4,47.00,11.75,Non-Beer,Wine,Regular,Stand,Branded,0.000836,0
12,41562.2,0,0,41562.2,4784.0,8.687751,0,0,8.687751,appetize,2,27.50,13.75,Draft,Premium,Regular,Stand,Branded,0.000418,0
13,41562.2,0,0,41562.2,4784.0,8.687751,0,0,8.687751,appetize,6,66.00,11.00,Non-Beer,Seltzer,16 Ounces,Stand,Non-Branded,0.001254,0
14,41562.2,0,0,41562.2,4784.0,8.687751,0,0,8.687751,appetize,2,23.50,11.75,Non-Beer,Wine,Regular,Stand,Non-Branded,0.000418,0

In [64]:
dftdAlIc[dftdAlIc['segment'] == 1].head(10)

,F&B,Retail.x,CR,Revenue,Attd.,F&B PC,Ret PC,CR PC,Total PC,source_system,qty,amount,Price,Product - Cat 1,Product - Cat 2,Product - Cat 3,Stand Type,Branded/Non-Branded,avgPurchase,segment
84,101694.30,0,0,101694.30,13242.0,7.679681,0,0,7.679681,appetize,94,1386.50,14.75,Draft,Domestic,Large,Stand,Non-Branded,0.007099,1
89,101694.30,0,0,101694.30,13242.0,7.679681,0,0,7.679681,appetize,84,1323.00,15.75,Draft,Premium,Large,Stand,Branded,0.006343,1
103,101694.30,0,0,101694.30,13242.0,7.679681,0,0,7.679681,appetize,82,1291.50,15.75,Draft,Premium,Large,Stand,Non-Branded,0.006192,1
163,82265.76,0,0,82265.76,9214.0,8.928344,0,0,8.928344,appetize,93,1371.75,14.75,Draft,Domestic,Large,Stand,Non-Branded,0.010093,1
167,82265.76,0,0,82265.76,9214.0,8.928344,0,0,8.928344,appetize,75,1106.25,14.75,Draft,Domestic,Large,Stand,Non-Branded,0.008140,1
171,82265.76,0,0,82265.76,9214.0,8.928344,0,0,8.928344,appetize,84,1323.00,15.75,Draft,Premium,Large,Stand,Branded,0.009117,1
184,82265.76,0,0,82265.76,9214.0,8.928344,0,0,8.928344,appetize,96,1512.00,15.75,Draft,Premium,Large,Stand,Non-Branded,0.010419,1
249,164334.90,0,1613.88,165948.80,17347.0,9.473391,0,0.0930351,9.566426,appetize,104,1144.00,11.00,Non-Beer,Seltzer,16 Ounces,Stand,Non-Branded,0.005995,1
252,164334.90,0,1613.88,165948.80,17347.0,9.473391,0,0.0930351,9.566426,appetize,162,2389.50,14.75,Draft,Domestic,Large,Stand,Non-Branded,0.009339,1
253,164334.90,0,1613.88,165948.80,17347.0,9.473391,0,0.0930351,9.566426,appetize,128,1888.00,14.75,Draft,Premium,Large,Stand,Non-Branded,0.007379,1

In [65]:
dftdAlIc[dftdAlIc['segment'] == 2].head(10)

,F&B,Retail.x,CR,Revenue,Attd.,F&B PC,Ret PC,CR PC,Total PC,source_system,qty,amount,Price,Product - Cat 1,Product - Cat 2,Product - Cat 3,Stand Type,Branded/Non-Branded,avgPurchase,segment
0,41562.2,0,0,41562.2,4784.0,8.687751,0,0,8.687751,appetize,33,363.00,11.00,Non-Beer,Seltzer,16 Ounces,Stand,Non-Branded,0.006898,2
2,41562.2,0,0,41562.2,4784.0,8.687751,0,0,8.687751,appetize,42,619.50,14.75,Draft,Domestic,Large,Stand,Non-Branded,0.008779,2
3,41562.2,0,0,41562.2,4784.0,8.687751,0,0,8.687751,appetize,44,649.00,14.75,Draft,Premium,Large,Stand,Non-Branded,0.009197,2
5,41562.2,0,0,41562.2,4784.0,8.687751,0,0,8.687751,appetize,35,516.25,14.75,Draft,Domestic,Large,Stand,Non-Branded,0.007316,2
9,41562.2,0,0,41562.2,4784.0,8.687751,0,0,8.687751,appetize,47,740.25,15.75,Draft,Premium,Large,Stand,Branded,0.009824,2
16,41562.2,0,0,41562.2,4784.0,8.687751,0,0,8.687751,appetize,41,604.75,14.75,Draft,Domestic,Large,Stand,Non-Branded,0.008570,2
22,41562.2,0,0,41562.2,4784.0,8.687751,0,0,8.687751,appetize,39,614.25,15.75,Draft,Premium,Large,Stand,Non-Branded,0.008152,2
23,41562.2,0,0,41562.2,4784.0,8.687751,0,0,8.687751,appetize,34,501.50,14.75,Draft,Domestic,Large,Stand,Non-Branded,0.007107,2
34,41562.2,0,0,41562.2,4784.0,8.687751,0,0,8.687751,appetize,28,413.00,14.75,Draft,Domestic,Large,Stand,Non-Branded,0.005853,2
38,41562.2,0,0,41562.2,4784.0,8.687751,0,0,8.687751,appetize,26,383.50,14.75,Packaged,Domestic,24 Ounces,Stand,Non-Branded,0.005435,2